v2.0.5/node-red/20211221.txt
[{"id":"d14801f1.87cd3","type":"tab","label":"LOGIN","disabled":false,"info":""},{"id":"eccff6d6.1a4328","type":"tab","label":"TOKEN","disabled":false,"info":""},{"id":"b185ea6c.7a8838","type":"tab","label":"CHECK","disabled":false,"info":""},{"id":"6be1e02c.fe042","type":"tab","label":"USER","disabled":false,"info":""},{"id":"e126ee38.4ad39","type":"tab","label":"NOTICE","disabled":false,"info":""},{"id":"ad14e317.fda6","type":"tab","label":"PRODUCT","disabled":false,"info":""},{"id":"e7d3ce9f.5f1bd","type":"tab","label":"ORDER","disabled":false,"info":""},{"id":"ee2775c1.216308","type":"tab","label":"COMPANY","disabled":false,"info":""},{"id":"5f7ffc1d.d89a64","type":"tab","label":"SHIP","disabled":false,"info":""},{"id":"cb984984.4c6c98","type":"tab","label":"SHIP PRICE","disabled":false,"info":""},{"id":"cc9e1b5.ebd6ae8","type":"tab","label":"FROM","disabled":false,"info":""},{"id":"a901f52e.f6bc28","type":"tab","label":"CATEGORY","disabled":false,"info":""},{"id":"ab20c9b2.9901b8","type":"tab","label":"PRICE","disabled":false,"info":""},{"id":"46993806.65eeb8","type":"tab","label":"POINT","disabled":false,"info":""},{"id":"d8849b02.3010c8","type":"tab","label":"WEBHOOK","disabled":false,"info":""},{"id":"40cc9738.d25d28","type":"tab","label":"FAX","disabled":false,"info":""},{"id":"14c527e8.c66c48","type":"mongodb2","z":"","uri":"mongodb://3.36.106.18:27017/admin","name":"flower","options":"","parallelism":"-1"},{"id":"30323931.bb52c6","type":"mongodb2","name":""},{"id":"30e702d6.e66c2e","type":"mongodb2","name":""},{"id":"970125c9.c8ff18","type":"mongodb2","z":"","uri":"mongodb://192.168.3.179:27017/testdb","name":"db","options":"","parallelism":"-1"},{"id":"2a06a17f.37c4ee","type":"ftp","z":"40cc9738.d25d28","host":"testftp.barobill.co.kr","port":"9031","secureOptions":"","user":"sinho2016","connTimeout":"","pasvTimeout":"","keepalive":""},{"id":"2634a5cb.f4211a","type":"soap-config","z":"","wsdl":"http://testws.baroservice.com/FAX.asmx","auth":"0","user":"","pass":"","key":"","cert":"","token":""},{"id":"efd40c29.85dc","type":"soap-config","z":"40cc9738.d25d28","wsdl":"http://www.webservicex.net/globalweather.asmx?WSDL","auth":"0","user":"","pass":"","cert":"","token":""},{"id":"153a9664.fe8b8a","type":"http in","z":"ad14e317.fda6","name":"","url":"/appapi/SET_PRODUCT/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":200,"y":80,"wires":[["ea48f88c.179308","11d5f20.6aca30e"]]},{"id":"f9ba5dd3.68f18","type":"http response","z":"ad14e317.fda6","name":"","statusCode":"","headers":{},"x":1530,"y":60,"wires":[]},{"id":"8e8e32c4.8e8fe","type":"http in","z":"ad14e317.fda6","name":"","url":"/appapi/GET_PRODUCT/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":200,"y":340,"wires":[["d84d3bf4.2fa9d8","e69c5c48.9c3fa"]]},{"id":"acc0e3b8.3cad5","type":"http response","z":"ad14e317.fda6","name":"","statusCode":"","headers":{},"x":950,"y":340,"wires":[]},{"id":"d84d3bf4.2fa9d8","type":"debug","z":"ad14e317.fda6","name":"GET_PRODUCT","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":380,"wires":[]},{"id":"fa8c451c.08c208","type":"function","z":"ad14e317.fda6","name":"INSERT","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\nvar insertData = flow.get('insertData');\n\nnewMsg.collection = \"ProductData\";\nnewMsg.operation = 'insert';\nnewMsg.payload = {\n    'productId': msg.productId,\n    'productType': insertData.productType,\n    'productCate': insertData.productCate,\n    'productName' : insertData.productName,\n    'productInfo' : insertData.productInfo,\n    'productSrc': msg.filename.split(\"/var/www/html\")[1],\n    'productPrice' : insertData.productPrice,\n    'productPriceCom' : insertData.productPriceCom,\n    'productPriceFl' : insertData.productPriceFl,\n    'shippingPriceExtra': insertData.shippingPriceExtra,\n    'viewState': 'Y',\n    'shipState': insertData.shipState,\n    'viewCnt': 0,\n    'saleCnt': 0,\n    'flag' : \"Y\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":60,"wires":[["8d5eb799.c75bc8"]]},{"id":"38511635.e8a1ea","type":"function","z":"ad14e317.fda6","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상처리 되었습니다\"};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":60,"wires":[["f9ba5dd3.68f18","af988bc1.a047e8"]]},{"id":"e69c5c48.9c3fa","type":"function","z":"ad14e317.fda6","name":"find.toArray ProductData","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'ProductData';\nnewMsg.operation = 'find.toArray';\n\n//전체 검색\nif(msg.payload.actionType == \"ALL\"){\n    newMsg.payload = {'flag': 'Y'};\n}else {\n    if(!msg.payload.productCate) {\n       newMsg.payload = {'productType' : msg.payload.actionType, 'flag': 'Y'}; \n    }else {\n        newMsg.payload = {'productType' : msg.payload.actionType, 'productCate': msg.payload.productCate, 'flag': 'Y'}; \n    }\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":340,"wires":[["9e2861fa.9723a"]]},{"id":"18f5b18d.58339e","type":"function","z":"ad14e317.fda6","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상처리 되었습니다\", \"resultData\": msg.payload};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":340,"wires":[["acc0e3b8.3cad5","7df191a7.13781"]]},{"id":"ea48f88c.179308","type":"debug","z":"ad14e317.fda6","name":"SET_PRODUCT","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":20,"wires":[]},{"id":"af988bc1.a047e8","type":"debug","z":"ad14e317.fda6","name":"SET_PRODUCT response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2440,"y":100,"wires":[]},{"id":"7df191a7.13781","type":"debug","z":"ad14e317.fda6","name":"GET_PRODUCT response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":380,"wires":[]},{"id":"8d5eb799.c75bc8","type":"mongodb2 in","z":"ad14e317.fda6","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":1270,"y":60,"wires":[["38511635.e8a1ea"]]},{"id":"9e2861fa.9723a","type":"mongodb2 in","z":"ad14e317.fda6","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":690,"y":340,"wires":[["18f5b18d.58339e"]]},{"id":"98b554f5.3553a8","type":"function","z":"d14801f1.87cd3","name":"findOne UserData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nflow.set('payload',msg.payload);\n\nnewMsg.collection = 'UserData';\nnewMsg.operation = 'findOne';\n\nif(msg.payload.actionType == \"LOGIN\"){\n    newMsg.payload = {'userId': msg.payload.userId};\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":40,"wires":[["106ac1ed.22387e"]]},{"id":"7ec6b79d.3dd9e8","type":"http in","z":"d14801f1.87cd3","name":"","url":"/appapi/GET_LOGIN/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":200,"y":40,"wires":[["98b554f5.3553a8","4d5c9048.94463"]]},{"id":"106ac1ed.22387e","type":"mongodb2 in","z":"d14801f1.87cd3","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":630,"y":40,"wires":[["dc552502.ea5f18"]]},{"id":"4d5c9048.94463","type":"debug","z":"d14801f1.87cd3","name":"GET_LOGIN","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":80,"wires":[]},{"id":"dc552502.ea5f18","type":"function","z":"d14801f1.87cd3","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nvar payload = flow.get(\"payload\");\n\nif(!msg.payload){\n    newMsg.payload = {\"resultCode\" : \"0101\", \"resultMessage\" : \"존재하지 않는 아이디입니다.\"};\n}else{\n    if(msg.payload.userPw == payload.userPw){\n        if(msg.payload.flag == 'N'){\n            newMsg.payload = {\"resultCode\" : \"0102\", \"resultMessage\" : \"회원가입 승인 대기중입니다.\"};\n        }else if(msg.payload.flag == 'Y'){\n            newMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상처리 되었습니다.\", \"authType\": msg.payload.authType, 'userType': msg.payload.userType};\n        }\n    }else{\n        newMsg.payload = {\"resultCode\" : \"0103\", \"resultMessage\" : \"비밀번호가 틀렸습니다.\"};\n    }\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":40,"wires":[["41c32fa2.53e17","60a137fb.0e45c8"]]},{"id":"41c32fa2.53e17","type":"http response","z":"d14801f1.87cd3","name":"","statusCode":"","headers":{},"x":890,"y":40,"wires":[]},{"id":"60a137fb.0e45c8","type":"debug","z":"d14801f1.87cd3","name":"GET_LOGIN response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":940,"y":80,"wires":[]},{"id":"dd47ffb4.8b687","type":"function","z":"6be1e02c.fe042","name":"find UserData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'UserData';\nflow.set('getData', msg.payload);\n\nif (msg.payload.actionType == \"ALL\") {\n    newMsg.operation = 'find.toArray';\n} else if (msg.payload.actionType == \"FINDONE\") {\n    newMsg.operation = 'findOne';\n    newMsg.payload = { 'userId': msg.payload.userId };\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":320,"wires":[["72619b52.3fbb14"]]},{"id":"7ff07e1.efea98","type":"http in","z":"6be1e02c.fe042","name":"","url":"/appapi/GET_USER/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":200,"y":320,"wires":[["dd47ffb4.8b687","e533b721.74eec8"]]},{"id":"72619b52.3fbb14","type":"mongodb2 in","z":"6be1e02c.fe042","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":610,"y":320,"wires":[["8a4e763a.add538"]]},{"id":"e533b721.74eec8","type":"debug","z":"6be1e02c.fe042","name":"GET_USER","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":280,"wires":[]},{"id":"8a4e763a.add538","type":"function","z":"6be1e02c.fe042","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\nvar getData = flow.get('getData');\n\nif (getData.actionType == \"ALL\") {\n    msg.payload.sort(function(a,b) {\n        var o1 = b['flag']\n        var o2 = a['flag']\n        \n        if (o1 < o2) return 1;\n        if (o1 > o2) return -1;\n        return 0;\n    }); \n}\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상처리 되었습니다.\",\"resultData\": msg.payload};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":320,"wires":[["e2bd191b.9f2218","7d659e2b.b024f"]]},{"id":"e2bd191b.9f2218","type":"http response","z":"6be1e02c.fe042","name":"","statusCode":"","headers":{},"x":870,"y":320,"wires":[]},{"id":"7d659e2b.b024f","type":"debug","z":"6be1e02c.fe042","name":"GET_USER response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":920,"y":360,"wires":[]},{"id":"54f25995.c83b78","type":"http in","z":"e126ee38.4ad39","name":"","url":"/appapi/SET_NOTICE/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":210,"y":80,"wires":[["a2092b28.affe58","4c2cb234.fc62fc"]]},{"id":"a2092b28.affe58","type":"debug","z":"e126ee38.4ad39","name":"SET_NOTICE","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":480,"y":20,"wires":[]},{"id":"b80c024b.1bd17","type":"function","z":"e126ee38.4ad39","name":"findOne NoticeData","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'NoticeData';\n\nif(msg.payload.noticeId) {\n    newMsg.operation = 'findOne';\n    newMsg.payload = {'noticeId': msg.payload.noticeId, 'flag': 'Y'};\n} else {\n    newMsg.operation = 'find.toArray';\n    newMsg.payload = {'flag': 'Y'};\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":240,"wires":[["a6378b21.cb6d98"]]},{"id":"8e83409e.92ecc","type":"http in","z":"e126ee38.4ad39","name":"","url":"/appapi/GET_NOTICE/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":210,"y":240,"wires":[["b80c024b.1bd17","a2b07714.66a138"]]},{"id":"a6378b21.cb6d98","type":"mongodb2 in","z":"e126ee38.4ad39","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":650,"y":240,"wires":[["bb301d7f.b4962"]]},{"id":"a2b07714.66a138","type":"debug","z":"e126ee38.4ad39","name":"GET_NOTICE","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":480,"y":280,"wires":[]},{"id":"bb301d7f.b4962","type":"function","z":"e126ee38.4ad39","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상처리 되었습니다\",\"resultData\": msg.payload};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":240,"wires":[["c37fcfb6.3bd29","525c6a54.d4aca4"]]},{"id":"c37fcfb6.3bd29","type":"http response","z":"e126ee38.4ad39","name":"","statusCode":"","headers":{},"x":910,"y":240,"wires":[]},{"id":"525c6a54.d4aca4","type":"debug","z":"e126ee38.4ad39","name":"GET_NOTICE response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":280,"wires":[]},{"id":"ea40e23f.52c98","type":"inject","z":"6be1e02c.fe042","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":460,"wires":[["c6f67ce6.d4717"]]},{"id":"aef65a29.49c218","type":"function","z":"6be1e02c.fe042","name":"insert UserData","func":"var newMsg={};\n\nnewMsg.collection = 'UserData';\nnewMsg.operation = 'insertMany';\n\nvar array = [];\nvar array2 = [];\nfor(var i=0; i<msg.payload.length; i++){\n    if(msg.payload[i].companyNumber){\n        array.push({'companyNumber': msg.payload[i].companyNumber, 'psw': '1234', 'authType': 'USER', 'flag': 'Y','companyName': msg.payload[i].companyName, 'companyAddress': msg.payload[i].companyAddress, 'email': msg.payload[i].email, 'name': msg.payload[i].name, 'phone': msg.payload[i].phone });\n    }\n}\narray2.push(array);\n\nnewMsg.payload = array2;\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":460,"wires":[["8f1270f9.b6571","5a19fd.ccb11604"]]},{"id":"5a19fd.ccb11604","type":"mongodb2 in","z":"6be1e02c.fe042","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":560,"y":460,"wires":[["1eb8be43.0a1172"]]},{"id":"c6f67ce6.d4717","type":"alafile in","z":"6be1e02c.fe042","name":"","filename":"/var/www/html/doc/userList","format":"xlsx","columns":"*","headers":true,"x":260,"y":460,"wires":[["aef65a29.49c218"]]},{"id":"8f1270f9.b6571","type":"debug","z":"6be1e02c.fe042","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":420,"wires":[]},{"id":"1eb8be43.0a1172","type":"debug","z":"6be1e02c.fe042","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":460,"wires":[]},{"id":"66fdba7a.9c26e4","type":"http in","z":"b185ea6c.7a8838","name":"","url":"/appapi/CHECK_ID/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":200,"y":80,"wires":[["9dbc51be.609a9","589d3548.60a8cc"]]},{"id":"9dbc51be.609a9","type":"function","z":"b185ea6c.7a8838","name":"findOne UserData","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'UserData';\nnewMsg.operation = 'findOne';\nnewMsg.payload = {'userId' : msg.payload.userId};\n\nreturn newMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":80,"wires":[["ba6779e.033d488"]]},{"id":"589d3548.60a8cc","type":"debug","z":"b185ea6c.7a8838","name":"CHECK_ID","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":40,"wires":[]},{"id":"ba6779e.033d488","type":"mongodb2 in","z":"b185ea6c.7a8838","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":630,"y":80,"wires":[["466be62b.5aaee8"]]},{"id":"466be62b.5aaee8","type":"function","z":"b185ea6c.7a8838","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nif(!msg.payload){\n    newMsg.payload = {\"resultCode\" : \"0201\", \"resultMessage\" : \"사용하실 수 있는 아이디 입니다.\"};\n}else{\n    newMsg.payload = {\"resultCode\" : \"0202\", \"resultMessage\" : \"중복된 아이디가 존재합니다.\"};\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":80,"wires":[["d5976730.e00978","25548d6e.2b36e2"]]},{"id":"d5976730.e00978","type":"http response","z":"b185ea6c.7a8838","name":"","statusCode":"","headers":{},"x":890,"y":80,"wires":[]},{"id":"25548d6e.2b36e2","type":"debug","z":"b185ea6c.7a8838","name":"CHECK_ID response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":40,"wires":[]},{"id":"75871b0b.138b54","type":"comment","z":"b185ea6c.7a8838","name":"CHECK_ID","info":"","x":110,"y":40,"wires":[]},{"id":"8c322a94.9f28a8","type":"http in","z":"b185ea6c.7a8838","name":"","url":"/appapi/CHECK_EMAIL/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":210,"y":180,"wires":[["b70998ec.bc8218","4d02172a.964dd8"]]},{"id":"b70998ec.bc8218","type":"debug","z":"b185ea6c.7a8838","name":"CHECK_EMAIL","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":140,"wires":[]},{"id":"a76c58bb.27e848","type":"mongodb2 in","z":"b185ea6c.7a8838","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":650,"y":180,"wires":[["cbadbfb7.c5423"]]},{"id":"cbadbfb7.c5423","type":"function","z":"b185ea6c.7a8838","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nif(!msg.payload){\n    newMsg.payload = {\"resultCode\" : \"0301\", \"resultMessage\" : \"사용하실 수 있는 이메일 입니다.\"};\n}else{\n    newMsg.payload = {\"resultCode\" : \"0302\", \"resultMessage\" : \"중복된 이메일이 존재합니다.\"};\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":180,"wires":[["5226cd4.c258a34","7136bb80.00e7f4"]]},{"id":"5226cd4.c258a34","type":"http response","z":"b185ea6c.7a8838","name":"","statusCode":"","headers":{},"x":910,"y":180,"wires":[]},{"id":"7136bb80.00e7f4","type":"debug","z":"b185ea6c.7a8838","name":"CHECK_EMAIL response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":140,"wires":[]},{"id":"27f026a8.a1a60a","type":"comment","z":"b185ea6c.7a8838","name":"CHECK_EMAIL","info":"","x":120,"y":140,"wires":[]},{"id":"c7e9a3f4.86f03","type":"http in","z":"6be1e02c.fe042","name":"","url":"/appapi/SET_USER/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":200,"y":40,"wires":[["8f5eac8a.c6925","b14951af.5a561"]]},{"id":"8f5eac8a.c6925","type":"debug","z":"6be1e02c.fe042","name":"SET_USER","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":140,"wires":[]},{"id":"aa1462bb.3527","type":"function","z":"6be1e02c.fe042","name":"INSERT UserData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'UserData';\nnewMsg.operation = 'insert';\n\nnewMsg.payload = {  'authType': 'USER',\n                    'companyName': msg.payload.companyName,\n                    'ceoName': msg.payload.ceoName,\n                    'userId': msg.payload.userId,\n                    'userPw': msg.payload.userPw,\n                    'userPhone': msg.payload.userPhone,\n                    'userEmail': msg.payload.userEmail,\n                    'userTel': msg.payload.userTel,\n                    'companyNumber': msg.payload.companyNumber,\n                    'userFax': msg.payload.userFax,\n                    'companyAddress': msg.payload.companyAddress,\n                    'flag': 'N',\n                    'point': 0\n};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":20,"wires":[["d9d92c1.b32ced"]]},{"id":"d9d92c1.b32ced","type":"mongodb2 in","z":"6be1e02c.fe042","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":750,"y":20,"wires":[["e96ef61d.c0e9c8"]]},{"id":"f1a55c22.3ed78","type":"http response","z":"6be1e02c.fe042","name":"","statusCode":"","headers":{},"x":1010,"y":20,"wires":[]},{"id":"e96ef61d.c0e9c8","type":"function","z":"6be1e02c.fe042","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0701\", \"resultMessage\" : \"가입승인 요청이 완료되었습니다.\"};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":20,"wires":[["f1a55c22.3ed78","324e7eb2.5f70a2"]]},{"id":"324e7eb2.5f70a2","type":"debug","z":"6be1e02c.fe042","name":"SET_USER response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1180,"y":60,"wires":[]},{"id":"33bb8e85.b0acd2","type":"http response","z":"b185ea6c.7a8838","name":"","statusCode":"","headers":{},"x":2330,"y":280,"wires":[]},{"id":"4d02172a.964dd8","type":"function","z":"b185ea6c.7a8838","name":"findOne UserData","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'UserData';\nnewMsg.operation = 'findOne';\nnewMsg.payload = {'userEmail' : msg.payload.userEmail};\n\nreturn newMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":180,"wires":[["a76c58bb.27e848"]]},{"id":"c3752298.d6516","type":"mongodb2 in","z":"b185ea6c.7a8838","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":1710,"y":280,"wires":[["1bf43481.b8025b"]]},{"id":"2e5bb721.7becd8","type":"function","z":"b185ea6c.7a8838","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\nvar payType = flow.get('payType');\n\nnewMsg.payload = {'resultCode': payType};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2200,"y":280,"wires":[["33bb8e85.b0acd2","21a95c96.afabe4"]]},{"id":"e388ccdf.d029d","type":"function","z":"e7d3ce9f.5f1bd","name":"findOne ProductData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nvar time = new Date();\nvar insertData = flow.get('insertData');\nflow.set('userData', msg.payload);\n\nnewMsg.collection = 'ProductData';\nnewMsg.operation = 'findOne';\n\nnewMsg.payload = {\n    'productId': insertData.productId\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":60,"wires":[["84814429.832d18"]]},{"id":"738a17dd.e90c78","type":"http in","z":"e7d3ce9f.5f1bd","name":"","url":"/appapi/SET_ORDER/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":210,"y":80,"wires":[["5617d6db.8c7818","9d724ec6.fff2b"]]},{"id":"84814429.832d18","type":"mongodb2 in","z":"e7d3ce9f.5f1bd","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":1130,"y":60,"wires":[["d4c184.bdd36e8"]]},{"id":"5617d6db.8c7818","type":"debug","z":"e7d3ce9f.5f1bd","name":"SET_ORDER","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":20,"wires":[]},{"id":"99bb1ee0.fd2d6","type":"function","z":"e7d3ce9f.5f1bd","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상 처리되었습니다.\"};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3600,"y":60,"wires":[["340079fa.7d1c36","8ab57be0.22c5c8"]]},{"id":"340079fa.7d1c36","type":"http response","z":"e7d3ce9f.5f1bd","name":"","statusCode":"","headers":{},"x":3730,"y":60,"wires":[]},{"id":"21a95c96.afabe4","type":"debug","z":"b185ea6c.7a8838","name":"CHECK_PAY response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2390,"y":240,"wires":[]},{"id":"6f0c2ea0.e0b07","type":"http in","z":"e7d3ce9f.5f1bd","name":"","url":"/appapi/GET_ORDER/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":230,"y":380,"wires":[["d5e97d26.3fdb8","fdf09133.0e201"]]},{"id":"d5e97d26.3fdb8","type":"debug","z":"e7d3ce9f.5f1bd","name":"GET_ORDER","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":320,"wires":[]},{"id":"542d2dde.3c1904","type":"function","z":"e7d3ce9f.5f1bd","name":"FINDONE","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'OrderData';\nnewMsg.operation = 'findOne'; \nnewMsg.payload = {'merchant_uid': msg.payload.merchant_uid};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":380,"wires":[["789770d.934489"]]},{"id":"789770d.934489","type":"mongodb2 in","z":"e7d3ce9f.5f1bd","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":750,"y":380,"wires":[["f9084b3c.dd9048"]]},{"id":"f63a594b.461a38","type":"function","z":"e7d3ce9f.5f1bd","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\nvar orderData = flow.get(\"orderData\");\n\norderData.productSrc = msg.payload.productSrc;\norderData.productInfo = msg.payload.productInfo;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상 처리되었습니다.\",\"resultData\": orderData};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":380,"wires":[["e0523823.e28ac8","590b309f.6daac"]]},{"id":"e0523823.e28ac8","type":"http response","z":"e7d3ce9f.5f1bd","name":"","statusCode":"","headers":{},"x":1350,"y":380,"wires":[]},{"id":"590b309f.6daac","type":"debug","z":"e7d3ce9f.5f1bd","name":"GET_ORDER response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1410,"y":420,"wires":[]},{"id":"325802d2.c4717e","type":"function","z":"5f7ffc1d.d89a64","name":"find shiplist","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'ShipData';\nnewMsg.operation = 'find.toArray';\nnewMsg.payload = {'date': {$gte: msg.payload.startDate, $lte: msg.payload.endDate}, 'flag': 'Y'};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":300,"wires":[["a7815405.5f9288"]]},{"id":"975a8d87.b2a57","type":"http in","z":"5f7ffc1d.d89a64","name":"","url":"/appapi/GET_SHIP/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":220,"y":300,"wires":[["a3a5d327.587ff","325802d2.c4717e"]]},{"id":"a7815405.5f9288","type":"mongodb2 in","z":"5f7ffc1d.d89a64","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":610,"y":300,"wires":[["1b23e23e.f3aa5e"]]},{"id":"a3a5d327.587ff","type":"debug","z":"5f7ffc1d.d89a64","name":"GET_SHIP","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":260,"wires":[]},{"id":"1b23e23e.f3aa5e","type":"function","z":"5f7ffc1d.d89a64","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\nvar data = msg.payload;\ndata.sort(function(a,b) {\n    var o1 = b['date']\n    var o2 = a['date']\n    var p1 = a['no']\n    var p2 = b['no']\n \n    if (o1 < o2) return 1;\n    if (o1 > o2) return -1;\n    if (p1 < p2) return 1;\n    if (p1 > p2) return -1;\n    return 0;\n});\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상 처리되었습니다.\",\"resultData\": msg.payload};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":300,"wires":[["7780b39e.963ccc","db517370.08d79"]]},{"id":"7780b39e.963ccc","type":"http response","z":"5f7ffc1d.d89a64","name":"","statusCode":"","headers":{},"x":870,"y":300,"wires":[]},{"id":"db517370.08d79","type":"debug","z":"5f7ffc1d.d89a64","name":"GET_SHIP response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":260,"wires":[]},{"id":"135d9980.04c207","type":"function","z":"5f7ffc1d.d89a64","name":"DELETE ShipData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'ShipData';\nnewMsg.operation = 'updateMany';\n\nnewMsg.payload = [{'date': msg.payload.date, 'no': Number(msg.payload.no)}, {$set: {'flag':'N'}}];\n\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":180,"wires":[["b2ed22f6.106ca"]]},{"id":"b2ed22f6.106ca","type":"mongodb2 in","z":"5f7ffc1d.d89a64","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":770,"y":180,"wires":[["ab55cae2.e59758"]]},{"id":"68f0f393.1740dc","type":"http in","z":"5f7ffc1d.d89a64","name":"","url":"/appapi/SET_SHIP/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":220,"y":80,"wires":[["8fffb47e.6b9798","dab373bb.4e251"]]},{"id":"ab55cae2.e59758","type":"function","z":"5f7ffc1d.d89a64","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상 처리되었습니다.\"};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":180,"wires":[["3bc6155d.a046aa","fa19789c.46edd8"]]},{"id":"8fffb47e.6b9798","type":"debug","z":"5f7ffc1d.d89a64","name":"SET_SHIP","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":20,"wires":[]},{"id":"3bc6155d.a046aa","type":"http response","z":"5f7ffc1d.d89a64","name":"","statusCode":"","headers":{},"x":1030,"y":180,"wires":[]},{"id":"fa19789c.46edd8","type":"debug","z":"5f7ffc1d.d89a64","name":"SET_SHIP response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1900,"y":160,"wires":[]},{"id":"dab373bb.4e251","type":"switch","z":"5f7ffc1d.d89a64","name":"","property":"payload.actionType","propertyType":"msg","rules":[{"t":"eq","v":"INSERT","vt":"str"},{"t":"eq","v":"UPDATE","vt":"str"},{"t":"eq","v":"DELETE","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":450,"y":80,"wires":[["e70559ab.2dd4e8"],["a58d45b5.596c48"],["135d9980.04c207"]]},{"id":"e70559ab.2dd4e8","type":"function","z":"5f7ffc1d.d89a64","name":"findtoArray ShipData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nmsg.payload.data.sort(function(a,b) {\n    var o1 = b['date']\n    var o2 = a['date']\n \n    if (o1 < o2) return -1;\n    if (o1 > o2) return 1;\n    return 0;\n});\nflow.set('shipData',msg.payload.data);\nnewMsg.operation = 'find.toArray';\nnewMsg.collection = 'ShipData';\n\nnewMsg.payload = {};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":60,"wires":[["4920dd67.4c6a44"]]},{"id":"4920dd67.4c6a44","type":"mongodb2 in","z":"5f7ffc1d.d89a64","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":790,"y":60,"wires":[["80fe3c85.e83db"]]},{"id":"60b5d39d.bf4acc","type":"function","z":"5f7ffc1d.d89a64","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상 처리되었습니다.\"};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1600,"y":60,"wires":[["9530e731.8fda88","fa19789c.46edd8"]]},{"id":"9530e731.8fda88","type":"http response","z":"5f7ffc1d.d89a64","name":"","statusCode":"","headers":{},"x":1730,"y":60,"wires":[]},{"id":"64415aa5.359084","type":"function","z":"5f7ffc1d.d89a64","name":"INSERT  ShipData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nvar shipData = flow.get('shipData');\nvar totalData = flow.get('totalData');\nvar companyData = msg.payload;\n\nnewMsg.collection = 'ShipData';\nnewMsg.operation = 'insertMany';\nvar array2 = [];\nvar preDate = '';\nvar sameCnt = 0;\nfor(var i=0; i<shipData.length; i++) {\n    var array = [0];\n    var companyTel=\"\";\n    for(var j=0; j<totalData.length; j++) {\n        if(shipData[i].date == totalData[j].date){\n           array.push(totalData[j].no); \n        }\n    }\n    for(var k=0; k<companyData.length; k++) {\n        if(shipData[i].shipOrderCompany.includes(companyData[k].companyName)){\n           companyTel = companyData[k].companyTel;\n        }\n    }\n    if(preDate != shipData[i].date) {\n        sameCnt = 0;\n    }else {\n        sameCnt += 1;\n    }\n    array2.push({'date': shipData[i].date,\n                'no': Number(Math.max.apply(null,array)+sameCnt+1),\n                'shipDate': shipData[i].shipDate,\n                'shipAddress': shipData[i].shipAddress,\n                'shipProduct': shipData[i].shipProduct,\n                'shipMemo': shipData[i].shipMemo,\n                'shipOrderTo': shipData[i].shipOrderTo,\n                'shipOrderCompany': shipData[i].shipOrderCompany,\n                'shipOrderCompanyTel': companyTel,\n                'shipCompany': shipData[i].shipCompany,\n                'shipNumber': shipData[i].shipNumber,\n                'shipPrice': shipData[i].shipPrice,\n                'delCheck': 'off',\n                'flag': 'Y'});\n    preDate = shipData[i].date;\n}\nnewMsg.payload = [array2];\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":60,"wires":[["c5e47464.d13828"]]},{"id":"c5e47464.d13828","type":"mongodb2 in","z":"5f7ffc1d.d89a64","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":1470,"y":60,"wires":[["60b5d39d.bf4acc"]]},{"id":"1365f645.6890da","type":"http in","z":"5f7ffc1d.d89a64","name":"","url":"/appapi/SET_DEL/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":210,"y":400,"wires":[["d5378fda.72033","59e1048a.04a94c"]]},{"id":"d5378fda.72033","type":"debug","z":"5f7ffc1d.d89a64","name":"SET_DEL","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":360,"wires":[]},{"id":"442a8b46.3409d4","type":"mongodb2 in","z":"5f7ffc1d.d89a64","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":630,"y":400,"wires":[["9cc87fd6.ea7cd"]]},{"id":"9cc87fd6.ea7cd","type":"function","z":"5f7ffc1d.d89a64","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상 처리되었습니다.\"};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":400,"wires":[["b8a99ec0.dd626","a9e64a.8f8099b8"]]},{"id":"b8a99ec0.dd626","type":"http response","z":"5f7ffc1d.d89a64","name":"","statusCode":"","headers":{},"x":890,"y":400,"wires":[]},{"id":"a9e64a.8f8099b8","type":"debug","z":"5f7ffc1d.d89a64","name":"SET_DEL response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":360,"wires":[]},{"id":"59e1048a.04a94c","type":"function","z":"5f7ffc1d.d89a64","name":"UPDATE ShipData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'ShipData';\nnewMsg.operation = 'updateMany';\n\nnewMsg.payload = [{'date': msg.payload.date, 'no': Number(msg.payload.no)}, {$set: {\n                                                                            'delCheck' : msg.payload.delCheck,\n}}];\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":400,"wires":[["442a8b46.3409d4"]]},{"id":"55a2981b.82f7a8","type":"function","z":"cb984984.4c6c98","name":"findOne ShipPriceData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'ShipPriceData';\nnewMsg.operation = 'findOne';\n\nnewMsg.payload = {'shipCompanyName': msg.payload.shipCompanyName};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":160,"wires":[["24aabb51.709184"]]},{"id":"24aabb51.709184","type":"mongodb2 in","z":"cb984984.4c6c98","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":690,"y":160,"wires":[["f5bb2735.215008"]]},{"id":"4b9a2e75.d8d13","type":"http in","z":"cb984984.4c6c98","name":"","url":"/appapi/GET_SHIP_PRICE/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":220,"y":160,"wires":[["517719df.5b2848","55a2981b.82f7a8"]]},{"id":"f5bb2735.215008","type":"function","z":"cb984984.4c6c98","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상 처리되었습니다.\",\"resultData\": msg.payload.shipData};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":160,"wires":[["7a58fd97.8dd354","fbf38776.0a18c8"]]},{"id":"517719df.5b2848","type":"debug","z":"cb984984.4c6c98","name":"GET_SHIP_PRICE","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":120,"wires":[]},{"id":"7a58fd97.8dd354","type":"http response","z":"cb984984.4c6c98","name":"","statusCode":"","headers":{},"x":950,"y":160,"wires":[]},{"id":"fbf38776.0a18c8","type":"debug","z":"cb984984.4c6c98","name":"GET_SHIP_PRICE response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":120,"wires":[]},{"id":"fdf09133.0e201","type":"switch","z":"e7d3ce9f.5f1bd","name":"","property":"payload.actionType","propertyType":"msg","rules":[{"t":"eq","v":"FINDONE","vt":"str"},{"t":"eq","v":"TOARRAY","vt":"str"},{"t":"eq","v":"USERID","vt":"str"},{"t":"eq","v":"COUNT","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":470,"y":380,"wires":[["542d2dde.3c1904"],["25183e2c.bf12f2"],["50a8ae4c.c29ed"],["71a6da92.1646b4"]]},{"id":"25183e2c.bf12f2","type":"function","z":"e7d3ce9f.5f1bd","name":"TOARRAY","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'OrderData';\nnewMsg.operation = 'find.toArray';\n\nnewMsg.payload = {'time': {\n    $gte: new Date(new Date(msg.payload.startDate).getTime()), \n    $lte: new Date(new Date(msg.payload.endDate).getTime() + 24 * 1000 * 60 * 60)\n}};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":440,"wires":[["e88b0071.1e3f1"]]},{"id":"e88b0071.1e3f1","type":"mongodb2 in","z":"e7d3ce9f.5f1bd","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":770,"y":440,"wires":[["faac226e.84496"]]},{"id":"faac226e.84496","type":"function","z":"e7d3ce9f.5f1bd","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상 처리되었습니다.\",\"resultData\": msg.payload};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":440,"wires":[["983c26.7d95e3d8","590b309f.6daac"]]},{"id":"983c26.7d95e3d8","type":"http response","z":"e7d3ce9f.5f1bd","name":"","statusCode":"","headers":{},"x":1030,"y":440,"wires":[]},{"id":"b14951af.5a561","type":"switch","z":"6be1e02c.fe042","name":"","property":"payload.actionType","propertyType":"msg","rules":[{"t":"eq","v":"INSERT","vt":"str"},{"t":"eq","v":"UPDATE","vt":"str"},{"t":"eq","v":"TYPE","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":430,"y":40,"wires":[["aa1462bb.3527"],["a2d4510b.de786"],["4acd1acd.ff8064"]]},{"id":"4acd1acd.ff8064","type":"function","z":"6be1e02c.fe042","name":"TYPE UserData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'UserData';\nnewMsg.operation = 'updateMany';\nnewMsg.payload = [{'userId': msg.payload.userId}, {$set:{\n                    'flag': 'Y',\n                    'userType': msg.payload.userType\n}}];\n\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":140,"wires":[["84ef280.93e77d8"]]},{"id":"84ef280.93e77d8","type":"mongodb2 in","z":"6be1e02c.fe042","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":730,"y":140,"wires":[["4731560c.1e0e98"]]},{"id":"4731560c.1e0e98","type":"function","z":"6be1e02c.fe042","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상처리 되었습니다.\"};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":140,"wires":[["49086eaa.bbcc6","324e7eb2.5f70a2"]]},{"id":"49086eaa.bbcc6","type":"http response","z":"6be1e02c.fe042","name":"","statusCode":"","headers":{},"x":990,"y":140,"wires":[]},{"id":"11d5f20.6aca30e","type":"switch","z":"ad14e317.fda6","name":"","property":"payload.actionType","propertyType":"msg","rules":[{"t":"eq","v":"INSERT","vt":"str"},{"t":"eq","v":"UPDATE","vt":"str"},{"t":"eq","v":"DELETE","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":450,"y":80,"wires":[["733f4aa.6ff14b4"],["82ad5523.de8ef8"],["6eaa8956.97d9e8"]]},{"id":"fa0f12a7.5237","type":"function","z":"ad14e317.fda6","name":"check src change","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nflow.set('updateOriginalData',msg.payload);\nvar updateOriginalData = msg.payload;\nvar updateData = flow.get('updateData');\n\nif(updateOriginalData.productType != updateData.productType) {\n    if(updateOriginalData.productSrc != updateData.productSrc) {\n        newMsg.payload = {\"check\" : 0};\n    }else {\n        newMsg.payload = {\"check\" : 1};\n    }\n}else {\n    if(updateOriginalData.productSrc != updateData.productSrc) {\n        newMsg.payload = {\"check\" : 2};\n    }else {\n        newMsg.payload = {\"check\" : 3};\n    }\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":120,"wires":[["fd9fdf8c.7564d"]]},{"id":"a58d45b5.596c48","type":"function","z":"5f7ffc1d.d89a64","name":"findtoArray ShipData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nflow.set('updateData',msg.payload.data);\n\nnewMsg.operation = 'find.toArray';\nnewMsg.collection = 'ShipData';\n\nnewMsg.payload = {};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":120,"wires":[["ce59ddfa.43e57"]]},{"id":"ce59ddfa.43e57","type":"mongodb2 in","z":"5f7ffc1d.d89a64","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":790,"y":120,"wires":[["a206d90.c1f8828"]]},{"id":"ed6d1683.79cdf8","type":"function","z":"5f7ffc1d.d89a64","name":"UPDATE ShipData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nvar updateData = flow.get('updateData');\nvar totalData = flow.get('totalData');\nvar companyData = msg.payload;\n\nnewMsg.collection = 'ShipData';\nnewMsg.operation = 'updateMany';\nvar resultArray = [];\n\nfor(var i=0; i<updateData.length; i++) {\n    var no = 0;\n    var companyTel = \"\";\n    if(updateData[i].preDate == updateData[i].date) {\n        no = Number(updateData[i].no);\n    }else{\n        var array = [0];\n        for(var j=0; j<totalData.length; j++) {\n            if(updateData[i].date == totalData[j].date){\n               array.push(totalData[j].no); \n            }\n        }\n        no = Number(Math.max.apply(null, array)+1)\n    }\n    for(var k=0; k<companyData.length; k++) {\n        if(updateData[i].shipOrderCompany.includes(companyData[k].companyName)){\n           companyTel = companyData[k].companyTel;\n        }\n    }\n    newMsg.payload = [{'date':updateData[i].preDate, 'no': Number(updateData[i].no)}, {$set: {'date': updateData[i].date,\n                                                                            'no': no,\n                                                                            'shipDate': updateData[i].shipDate,\n                                                                            'shipAddress': updateData[i].shipAddress,\n                                                                            'shipProduct': updateData[i].shipProduct,\n                                                                            'shipMemo': updateData[i].shipMemo,\n                                                                            'shipOrderTo': updateData[i].shipOrderTo,\n                                                                            'shipOrderCompany': updateData[i].shipOrderCompany,\n                                                                            'shipOrderCompanyTel': companyTel,\n                                                                            'shipCompany': updateData[i].shipCompany,\n                                                                            'shipNumber': updateData[i].shipNumber,\n                                                                            'shipPrice': updateData[i].shipPrice,\n                                                                            'delCheck' : updateData[i].delCheck,\n                                                                            'flag': 'Y'\n    }}];\n    node.send(newMsg);\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":120,"wires":[["6d519438.3ab6ac"]]},{"id":"6d519438.3ab6ac","type":"mongodb2 in","z":"5f7ffc1d.d89a64","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":1470,"y":120,"wires":[["8b52765f.c36198"]]},{"id":"72f085e6.259e1c","type":"function","z":"5f7ffc1d.d89a64","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상 처리되었습니다.\"};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1720,"y":120,"wires":[["3491ca57.2d16c6","fa19789c.46edd8"]]},{"id":"3491ca57.2d16c6","type":"http response","z":"5f7ffc1d.d89a64","name":"","statusCode":"","headers":{},"x":1850,"y":120,"wires":[]},{"id":"733f4aa.6ff14b4","type":"function","z":"ad14e317.fda6","name":"find.toArray","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nflow.set('insertData',msg.payload);\n\nnewMsg.collection = \"ProductData\";\nnewMsg.operation = 'find.toArray';\nnewMsg.payload = {};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":60,"wires":[["da206fde.3a642"]]},{"id":"da206fde.3a642","type":"mongodb2 in","z":"ad14e317.fda6","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":750,"y":60,"wires":[["84a84f69.7f39"]]},{"id":"84a84f69.7f39","type":"function","z":"ad14e317.fda6","name":"save img","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nvar array = [0];\nvar insertData = flow.get('insertData');\n\nfor(var i=0; i<msg.payload.length;i++) {\n    array.push(Number(msg.payload[i].productId));\n}\n\nfunction numberPad(n, width) {\n    n = n + '';\n    return n.length >= width ? n : new Array(width - n.length + 1).join('0') + n;\n}\n\nvar maxNum = Number(Math.max.apply(null,array));\nvar productId = numberPad(maxNum+1,6);\nvar imageType = insertData.productSrc.split(\"/\")[1].split(\";\")[0];\n\nvar path = \"/var/www/html/product/\"+insertData.productType;\nvar filename = \"/\"+productId+\".\"+imageType;\n\n\nvar data = insertData.productSrc.split(\",\")[1];\nnewMsg.payload = Buffer.from(data, 'base64');\n\nnewMsg.filename = path + filename;\nnewMsg.productId = productId;\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":60,"wires":[["4f317b6d.087564"]]},{"id":"4f317b6d.087564","type":"file","z":"ad14e317.fda6","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1010,"y":60,"wires":[["fa8c451c.08c208"]]},{"id":"6eaa8956.97d9e8","type":"function","z":"ad14e317.fda6","name":"DELETE","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = \"ProductData\";\nnewMsg.operation = \"updateMany\";\nfor(var i=0; i< msg.payload.data.length; i++) {\n    newMsg.payload = [{'productId' : msg.payload.data[i].productId},{$set:{'flag': 'N'}}];\n    node.send(newMsg);\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":280,"wires":[["a3ee882f.ee2d48"]]},{"id":"a3ee882f.ee2d48","type":"mongodb2 in","z":"ad14e317.fda6","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":710,"y":280,"wires":[["358485f2.4c3f7a"]]},{"id":"358485f2.4c3f7a","type":"function","z":"ad14e317.fda6","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상처리 되었습니다\"};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":280,"wires":[["493e275d.e30628"]]},{"id":"86624020.89ab4","type":"http response","z":"ad14e317.fda6","name":"","statusCode":"","headers":{},"x":1090,"y":280,"wires":[]},{"id":"8b52765f.c36198","type":"join","z":"5f7ffc1d.d89a64","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1590,"y":120,"wires":[["72f085e6.259e1c"]]},{"id":"493e275d.e30628","type":"join","z":"ad14e317.fda6","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":970,"y":280,"wires":[["86624020.89ab4"]]},{"id":"a48f29fc.0105b8","type":"function","z":"ee2775c1.216308","name":"find.toArray CompanyData","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'CompanyData';\nnewMsg.operation = 'find.toArray';\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":300,"wires":[["8d1443d1.fffb3"]]},{"id":"c15ddf48.83fb4","type":"http in","z":"ee2775c1.216308","name":"","url":"/appapi/GET_COMPANY/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":240,"y":300,"wires":[["631e3e5f.4beb4","a48f29fc.0105b8"]]},{"id":"8d1443d1.fffb3","type":"mongodb2 in","z":"ee2775c1.216308","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":750,"y":300,"wires":[["a35b6a9a.ff64a8"]]},{"id":"631e3e5f.4beb4","type":"debug","z":"ee2775c1.216308","name":"GET_COMPANY","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":340,"wires":[]},{"id":"a35b6a9a.ff64a8","type":"function","z":"ee2775c1.216308","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상처리 되었습니다\", \"resultData\": msg.payload};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":300,"wires":[["a2bf8ec6.52b48","1fc72e3d.27ce42"]]},{"id":"a2bf8ec6.52b48","type":"http response","z":"ee2775c1.216308","name":"","statusCode":"","headers":{},"x":1010,"y":300,"wires":[]},{"id":"1fc72e3d.27ce42","type":"debug","z":"ee2775c1.216308","name":"GET_COMPANY response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":340,"wires":[]},{"id":"ef60c6f9.11ab18","type":"http in","z":"ee2775c1.216308","name":"","url":"/appapi/SET_COMPANY/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":240,"y":100,"wires":[["19cd4c42.509cb4","a2c392a9.3a02f"]]},{"id":"19cd4c42.509cb4","type":"debug","z":"ee2775c1.216308","name":"SET_COMPANY","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":40,"wires":[]},{"id":"a2c392a9.3a02f","type":"switch","z":"ee2775c1.216308","name":"","property":"payload.actionType","propertyType":"msg","rules":[{"t":"eq","v":"INSERT","vt":"str"},{"t":"eq","v":"UPDATE","vt":"str"},{"t":"eq","v":"DELETE","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":490,"y":100,"wires":[["8eeaafb7.170a6"],["93e9cab3.1984f8"],["be8162d1.da599"]]},{"id":"be8162d1.da599","type":"function","z":"ee2775c1.216308","name":"DELETE CompanyData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'CompanyData';\nnewMsg.operation = 'deleteOne';\n\nnewMsg.payload = {'companyId': msg.payload.companyId};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":200,"wires":[["4455b71e.390618"]]},{"id":"4455b71e.390618","type":"mongodb2 in","z":"ee2775c1.216308","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":850,"y":200,"wires":[["bbcc774d.e26d58"]]},{"id":"8eeaafb7.170a6","type":"function","z":"ee2775c1.216308","name":"INSERT CompanyData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'CompanyData';\nnewMsg.operation = 'insertMany';\nvar array = [];\n\nfor(var i=0; i<msg.payload.data.length; i++) {\n    array.push({'companyId': String(new Date().getTime()+i),\n                'companyName': msg.payload.data[i].companyName,\n                'companyTel': msg.payload.data[i].companyTel,\n                });\n}\nnewMsg.payload = [array];\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":80,"wires":[["1b373c67.09f404"]]},{"id":"93e9cab3.1984f8","type":"function","z":"ee2775c1.216308","name":"UPDATE CompanyData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'CompanyData';\nnewMsg.operation = 'updateMany';\nvar array = [];\n\nfor(var i=0; i<msg.payload.data.length; i++) {\n    newMsg.payload = [{'companyId':msg.payload.data[i].companyId}, {$set: {'companyName': msg.payload.data[i].companyName,\n                                                                           'companyTel': msg.payload.data[i].companyTel,\n    }}];\n    node.send(newMsg);\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":140,"wires":[["757e21ab.94f7d"]]},{"id":"bbcc774d.e26d58","type":"function","z":"ee2775c1.216308","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상 처리되었습니다.\"};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":200,"wires":[["3d5ebca6.f1cde4","1a0746a5.35f819"]]},{"id":"1b373c67.09f404","type":"mongodb2 in","z":"ee2775c1.216308","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":850,"y":80,"wires":[["69f8829d.d8dddc"]]},{"id":"757e21ab.94f7d","type":"mongodb2 in","z":"ee2775c1.216308","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":850,"y":140,"wires":[["644a8e30.069d5"]]},{"id":"3d5ebca6.f1cde4","type":"http response","z":"ee2775c1.216308","name":"","statusCode":"","headers":{},"x":1110,"y":200,"wires":[]},{"id":"1a0746a5.35f819","type":"debug","z":"ee2775c1.216308","name":"SET_COMPANY response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1320,"y":80,"wires":[]},{"id":"69f8829d.d8dddc","type":"function","z":"ee2775c1.216308","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상 처리되었습니다.\"};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":80,"wires":[["692753ff.cdeb3c","1a0746a5.35f819"]]},{"id":"f2f61ffe.9534f","type":"function","z":"ee2775c1.216308","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상 처리되었습니다.\"};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":140,"wires":[["53028b92.541234","1a0746a5.35f819"]]},{"id":"692753ff.cdeb3c","type":"http response","z":"ee2775c1.216308","name":"","statusCode":"","headers":{},"x":1110,"y":80,"wires":[]},{"id":"53028b92.541234","type":"http response","z":"ee2775c1.216308","name":"","statusCode":"","headers":{},"x":1230,"y":140,"wires":[]},{"id":"644a8e30.069d5","type":"join","z":"ee2775c1.216308","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":970,"y":140,"wires":[["f2f61ffe.9534f"]]},{"id":"80fe3c85.e83db","type":"function","z":"5f7ffc1d.d89a64","name":"findtoArray CompanyData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nflow.set('totalData',msg.payload);\n\nnewMsg.operation = 'find.toArray';\nnewMsg.collection = 'CompanyData';\n\nnewMsg.payload = {};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":60,"wires":[["da63ddb.759db2"]]},{"id":"da63ddb.759db2","type":"mongodb2 in","z":"5f7ffc1d.d89a64","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":1150,"y":60,"wires":[["64415aa5.359084"]]},{"id":"82ad5523.de8ef8","type":"function","z":"ad14e317.fda6","name":"findOne","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nflow.set('updateData',msg.payload);\n\nnewMsg.collection = \"ProductData\";\nnewMsg.operation = 'findOne';\nnewMsg.payload = {'productId': msg.payload.productId};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":120,"wires":[["c5d0460f.f763a8"]]},{"id":"c5d0460f.f763a8","type":"mongodb2 in","z":"ad14e317.fda6","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":730,"y":120,"wires":[["fa0f12a7.5237"]]},{"id":"73d52551.80c52c","type":"http in","z":"ad14e317.fda6","name":"","url":"/appapi/SET_PRODUCT_VIEWSTATE/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":240,"y":440,"wires":[["6953c0e1.3ecff","cbf22e17.da43e"]]},{"id":"6953c0e1.3ecff","type":"function","z":"ad14e317.fda6","name":"UPDATE","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = \"ProductData\";\nnewMsg.operation = \"updateMany\";\n\nnewMsg.payload = [{'productId' : msg.payload.productId},{$set:{'viewState': msg.payload.viewState}}];\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":440,"wires":[["34fb365d.c6c22a"]]},{"id":"34fb365d.c6c22a","type":"mongodb2 in","z":"ad14e317.fda6","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":670,"y":440,"wires":[["1e256887.fd3c57"]]},{"id":"1e256887.fd3c57","type":"function","z":"ad14e317.fda6","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상처리 되었습니다\"};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":440,"wires":[["394ce427.ec123c","6d84a3cc.4368ec"]]},{"id":"394ce427.ec123c","type":"http response","z":"ad14e317.fda6","name":"","statusCode":"","headers":{},"x":930,"y":440,"wires":[]},{"id":"fd9fdf8c.7564d","type":"switch","z":"ad14e317.fda6","name":"","property":"payload.check","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":1050,"y":120,"wires":[["d9a627ab.d57228"],["585b68a2.5b0d08"],["22c18f20.a46a8"],["baa95996.849688"]]},{"id":"755bdcd0.332a94","type":"function","z":"ad14e317.fda6","name":"change img","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nvar array = [0];\nvar updateData = flow.get('updateData');\n\nvar imageType = updateData.productSrc.split(\"/\")[1].split(\";\")[0];\n\nvar path = \"/var/www/html/product/\"+updateData.productType;\nvar filename = \"/\"+updateData.productId+\".\"+imageType;\n\nvar data = updateData.productSrc.split(\",\")[1];\nnewMsg.payload = Buffer.from(data, 'base64');\n\nnewMsg.filename = path + filename;\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1450,"y":180,"wires":[["e92428db.1b8f18"]]},{"id":"e92428db.1b8f18","type":"file","z":"ad14e317.fda6","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1590,"y":180,"wires":[["28adcd49.3f1162"]]},{"id":"14f5b63b.12bd1a","type":"function","z":"ad14e317.fda6","name":"change img","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nvar array = [0];\nvar updateData = flow.get('updateData');\nvar originSrc = flow.get('originSrc');\nvar imageName = updateData.productSrc.split(\"/\")[3];\nvar path = \"/var/www/html/product/\"+updateData.productType+\"/\"+imageName;\n\nnewMsg.payload = Buffer.from(originSrc, 'base64');\nnewMsg.filename = path;\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1990,"y":140,"wires":[["24154b2a.c0b3b4"]]},{"id":"24154b2a.c0b3b4","type":"file","z":"ad14e317.fda6","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":2130,"y":140,"wires":[["c0590a43.966688"]]},{"id":"9493eb49.518858","type":"function","z":"ad14e317.fda6","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상처리 되었습니다\"};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2000,"y":100,"wires":[["be856e1c.48a6c","af988bc1.a047e8"]]},{"id":"be856e1c.48a6c","type":"http response","z":"ad14e317.fda6","name":"","statusCode":"","headers":{},"x":2130,"y":100,"wires":[]},{"id":"ee5f7988.a57478","type":"function","z":"ad14e317.fda6","name":"change img","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nvar array = [0];\nvar updateData = flow.get('updateData');\n\nvar imageType = updateData.productSrc.split(\"/\")[1].split(\";\")[0];\n\nvar path = \"/var/www/html/product/\"+updateData.productType;\nvar filename = \"/\"+updateData.productId+\".\"+imageType;\n\nvar data = updateData.productSrc.split(\",\")[1];\nnewMsg.payload = Buffer.from(data, 'base64');\n\nnewMsg.filename = path + filename;\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1730,"y":100,"wires":[["9b261f98.5d1a8"]]},{"id":"9b261f98.5d1a8","type":"file","z":"ad14e317.fda6","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":1870,"y":100,"wires":[["9493eb49.518858"]]},{"id":"a845de1f.67d19","type":"function","z":"ad14e317.fda6","name":"delete img","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nvar updateOriginalData = flow.get('updateOriginalData');\n\nvar path = \"/var/www/html\"+updateOriginalData.productSrc;\n\nnewMsg.filename = path;\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1450,"y":100,"wires":[["ab578fcc.60247"]]},{"id":"ab578fcc.60247","type":"file","z":"ad14e317.fda6","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"delete","encoding":"none","x":1590,"y":100,"wires":[["ee5f7988.a57478"]]},{"id":"1063777f.3c6ab9","type":"file","z":"ad14e317.fda6","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"delete","encoding":"none","x":1850,"y":140,"wires":[["14f5b63b.12bd1a"]]},{"id":"a1b99cee.8bab9","type":"function","z":"ad14e317.fda6","name":"delete img","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nvar updateOriginalData = flow.get('updateOriginalData');\nflow.set('originSrc',msg.payload);\n\nvar path = \"/var/www/html\"+updateOriginalData.productSrc;\n\nnewMsg.filename = path;\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1710,"y":140,"wires":[["1063777f.3c6ab9"]]},{"id":"9f9853e2.1b399","type":"function","z":"ad14e317.fda6","name":"find img","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nvar updateOriginalData = flow.get('updateOriginalData');\n\nvar path = \"/var/www/html\"+updateOriginalData.productSrc;\n\nnewMsg.filename = path;\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1440,"y":140,"wires":[["276f755b.d8c07a"]]},{"id":"276f755b.d8c07a","type":"file in","z":"ad14e317.fda6","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"base64","x":1570,"y":140,"wires":[["a1b99cee.8bab9"]]},{"id":"d9a627ab.d57228","type":"function","z":"ad14e317.fda6","name":"UPDATE","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nvar updateData = flow.get(\"updateData\");\n\nnewMsg.collection = \"ProductData\";\nnewMsg.operation = \"updateMany\";\n\nvar imageType = updateData.productSrc.split(\"/\")[1].split(\";\")[0];\n\nvar path = \"/var/www/html/product/\"+updateData.productType;\nvar filename = \"/\"+updateData.productId+\".\"+imageType;\n\nnewMsg.payload = [{'productId' : updateData.productId},{$set:{'productType': updateData.productType,\n                                                            'productCate' : updateData.productCate,\n                                                            'productName' : updateData.productName, \n                                                            'productInfo' : updateData.productInfo, \n                                                            'productSrc': path+filename, \n                                                            'productPrice' : updateData.productPrice,\n                                                            'shipState': updateData.shipState,\n                                                            'shippingPriceExtra': updateData.shippingPriceExtra}}];\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":100,"wires":[["72b68305.f4e1dc"]]},{"id":"72b68305.f4e1dc","type":"mongodb2 in","z":"ad14e317.fda6","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":1310,"y":100,"wires":[["a845de1f.67d19"]]},{"id":"585b68a2.5b0d08","type":"function","z":"ad14e317.fda6","name":"UPDATE","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nvar updateData = flow.get(\"updateData\");\n\nnewMsg.collection = \"ProductData\";\nnewMsg.operation = \"updateMany\";\n\nnewMsg.payload = [{'productId' : updateData.productId},{$set:{'productType': updateData.productType, \n                                                            'productCate' : updateData.productCate,\n                                                            'productName' : updateData.productName, \n                                                            'productInfo' : updateData.productInfo, \n                                                            'productSrc': updateData.productSrc, \n                                                            'productPrice' : updateData.productPrice,\n                                                            'shipState': updateData.shipState,\n                                                            'shippingPriceExtra': updateData.shippingPriceExtra}}];\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":140,"wires":[["6fe60124.3c5c1"]]},{"id":"6fe60124.3c5c1","type":"mongodb2 in","z":"ad14e317.fda6","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":1310,"y":140,"wires":[["9f9853e2.1b399"]]},{"id":"6e9883d.9afe27c","type":"mongodb2 in","z":"ad14e317.fda6","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":1310,"y":180,"wires":[["755bdcd0.332a94"]]},{"id":"baa95996.849688","type":"function","z":"ad14e317.fda6","name":"UPDATE","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nvar updateData = flow.get(\"updateData\");\n\nnewMsg.collection = \"ProductData\";\nnewMsg.operation = \"updateMany\";\n\nnewMsg.payload = [{'productId' : updateData.productId},{$set:{'productType': updateData.productType, \n                                                            'productCate' : updateData.productCate,\n                                                            'productName' : updateData.productName, \n                                                            'productInfo' : updateData.productInfo, \n                                                            'productSrc': updateData.productSrc, \n                                                            'productPrice' : updateData.productPrice,\n                                                            'shipState': updateData.shipState,\n                                                            'shippingPriceExtra': updateData.shippingPriceExtra}}];\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":220,"wires":[["6e6161a4.d57aa"]]},{"id":"6e6161a4.d57aa","type":"mongodb2 in","z":"ad14e317.fda6","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":1310,"y":220,"wires":[["6b1e4e52.c489e"]]},{"id":"cbf22e17.da43e","type":"debug","z":"ad14e317.fda6","name":"SET_PRODUCT_VIEWSTATE","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":480,"wires":[]},{"id":"6d84a3cc.4368ec","type":"debug","z":"ad14e317.fda6","name":"SET_PRODUCT_VIEWSTATE response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1040,"y":480,"wires":[]},{"id":"c0590a43.966688","type":"function","z":"ad14e317.fda6","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상처리 되었습니다\"};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2260,"y":140,"wires":[["4cc75eca.27f4b","af988bc1.a047e8"]]},{"id":"4cc75eca.27f4b","type":"http response","z":"ad14e317.fda6","name":"","statusCode":"","headers":{},"x":2390,"y":140,"wires":[]},{"id":"28adcd49.3f1162","type":"function","z":"ad14e317.fda6","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상처리 되었습니다\"};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1720,"y":180,"wires":[["6aa4761e.330ac8","af988bc1.a047e8"]]},{"id":"6aa4761e.330ac8","type":"http response","z":"ad14e317.fda6","name":"","statusCode":"","headers":{},"x":1850,"y":180,"wires":[]},{"id":"6b1e4e52.c489e","type":"function","z":"ad14e317.fda6","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상처리 되었습니다\"};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1440,"y":220,"wires":[["70b450e2.ac1c8","af988bc1.a047e8"]]},{"id":"70b450e2.ac1c8","type":"http response","z":"ad14e317.fda6","name":"","statusCode":"","headers":{},"x":1570,"y":220,"wires":[]},{"id":"22c18f20.a46a8","type":"function","z":"ad14e317.fda6","name":"UPDATE","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nvar updateData = flow.get(\"updateData\");\n\nnewMsg.collection = \"ProductData\";\nnewMsg.operation = \"updateMany\";\n\nvar imageType = updateData.productSrc.split(\"/\")[1].split(\";\")[0];\n\nvar path = \"/var/www/html/product/\"+updateData.productType;\nvar filename = \"/\"+updateData.productId+\".\"+imageType;\n\nnewMsg.payload = [{'productId' : updateData.productId},{$set:{'productType': updateData.productType, \n                                                            'productCate' : updateData.productCate,\n                                                            'productName' : updateData.productName, \n                                                            'productInfo' : updateData.productInfo, \n                                                            'productSrc': path+filename, \n                                                            'productPrice' : updateData.productPrice,\n                                                            'shipState': updateData.shipState,\n                                                            'shippingPriceExtra': updateData.shippingPriceExtra}}];\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":180,"wires":[["6e9883d.9afe27c"]]},{"id":"a206d90.c1f8828","type":"function","z":"5f7ffc1d.d89a64","name":"findtoArray CompanyData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nflow.set('totalData',msg.payload);\n\nnewMsg.operation = 'find.toArray';\nnewMsg.collection = 'CompanyData';\n\nnewMsg.payload = {};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":120,"wires":[["2386ef48.0f2c3"]]},{"id":"2386ef48.0f2c3","type":"mongodb2 in","z":"5f7ffc1d.d89a64","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":1150,"y":120,"wires":[["ed6d1683.79cdf8"]]},{"id":"afadcffd.4dae4","type":"function","z":"cc9e1b5.ebd6ae8","name":"find.toArray FromData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'FromData';\nnewMsg.operation = 'find.toArray';\nnewMsg.payload = {'userId': msg.payload.userId};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":80,"wires":[["3cf4c6d0.9fcaaa"]]},{"id":"f4b77b3d.9d4da8","type":"http in","z":"cc9e1b5.ebd6ae8","name":"","url":"/appapi/GET_FROM/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":220,"y":80,"wires":[["4f766b0f.1bef34","afadcffd.4dae4"]]},{"id":"3cf4c6d0.9fcaaa","type":"mongodb2 in","z":"cc9e1b5.ebd6ae8","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":670,"y":80,"wires":[["18ee70d7.c0db0f"]]},{"id":"4f766b0f.1bef34","type":"debug","z":"cc9e1b5.ebd6ae8","name":"GET_FROM","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":40,"wires":[]},{"id":"18ee70d7.c0db0f","type":"function","z":"cc9e1b5.ebd6ae8","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상 처리되었습니다.\",\"resultData\": msg.payload};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":80,"wires":[["a1cecbb.ff9c638","a7c4756a.c5fc78"]]},{"id":"a1cecbb.ff9c638","type":"http response","z":"cc9e1b5.ebd6ae8","name":"","statusCode":"","headers":{},"x":930,"y":80,"wires":[]},{"id":"a7c4756a.c5fc78","type":"debug","z":"cc9e1b5.ebd6ae8","name":"GET_FROM response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":980,"y":40,"wires":[]},{"id":"85aef851.66bf88","type":"http in","z":"cc9e1b5.ebd6ae8","name":"","url":"/appapi/SET_FROM/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":220,"y":180,"wires":[["f881dfb5.de055","cfa23b6e.fd6668"]]},{"id":"f881dfb5.de055","type":"debug","z":"cc9e1b5.ebd6ae8","name":"SET_FROM","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":140,"wires":[]},{"id":"dd484540.f16fc8","type":"mongodb2 in","z":"cc9e1b5.ebd6ae8","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":710,"y":180,"wires":[["78d0d6ba.b9ec58"]]},{"id":"78d0d6ba.b9ec58","type":"function","z":"cc9e1b5.ebd6ae8","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상 처리되었습니다.\"};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":180,"wires":[["7091346.1c9bbcc","7fcd9000.a9069"]]},{"id":"7091346.1c9bbcc","type":"http response","z":"cc9e1b5.ebd6ae8","name":"","statusCode":"","headers":{},"x":970,"y":180,"wires":[]},{"id":"7fcd9000.a9069","type":"debug","z":"cc9e1b5.ebd6ae8","name":"SET_FROM response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":140,"wires":[]},{"id":"cfa23b6e.fd6668","type":"function","z":"cc9e1b5.ebd6ae8","name":"INSERT/DELETE FromData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'FromData';\nvar actionType = msg.payload.actionType;\nif(actionType == \"INSERT\") {\n    newMsg.operation = 'insert';\n    newMsg.payload = {userId: msg.payload.userId, fromId: msg.payload.fromId};\n} else if(actionType == \"DELETE\") {\n    newMsg.operation = 'deleteOne';\n    newMsg.payload = {userId: msg.payload.userId, fromId: msg.payload.fromId};\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":180,"wires":[["dd484540.f16fc8"]]},{"id":"b435ef68.8dce2","type":"http in","z":"ad14e317.fda6","name":"","url":"/appapi/SET_PRODUCT_VIEW/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":220,"y":540,"wires":[["8955802d.131ab","11a4b43f.2aa27c"]]},{"id":"1feaf373.76b54d","type":"function","z":"ad14e317.fda6","name":"updateMany ProductData","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = \"ProductData\";\nnewMsg.operation = \"updateMany\";\n\nvar productId = msg.payload.productId;\nvar viewCnt = msg.payload.viewCnt;\n\nnewMsg.payload = [\n    {\n        'productId' : productId\n        \n    },{\n        $set:{\n            'viewCnt': viewCnt\n        }\n            \n    }\n];\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":540,"wires":[["22c5b913.131c06"]]},{"id":"22c5b913.131c06","type":"mongodb2 in","z":"ad14e317.fda6","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":1070,"y":540,"wires":[["46f2fcf8.745d14"]]},{"id":"46f2fcf8.745d14","type":"function","z":"ad14e317.fda6","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상처리 되었습니다\"};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":540,"wires":[["d9e90b7b.e31018","e4ec9d68.bb8fe"]]},{"id":"d9e90b7b.e31018","type":"http response","z":"ad14e317.fda6","name":"","statusCode":"","headers":{},"x":1330,"y":540,"wires":[]},{"id":"8955802d.131ab","type":"debug","z":"ad14e317.fda6","name":"SET_PRODUCT_VIEW","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":580,"wires":[]},{"id":"e4ec9d68.bb8fe","type":"debug","z":"ad14e317.fda6","name":"SET_PRODUCT_VIEW response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1420,"y":580,"wires":[]},{"id":"11a4b43f.2aa27c","type":"function","z":"ad14e317.fda6","name":"findOne ProductData","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = \"ProductData\";\nnewMsg.operation = \"findOne\";\n\nnewMsg.payload = {'productId' : msg.payload.productId};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":540,"wires":[["c676392f.25e068"]]},{"id":"c676392f.25e068","type":"mongodb2 in","z":"ad14e317.fda6","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":710,"y":540,"wires":[["1feaf373.76b54d"]]},{"id":"e42455f1.ae53a8","type":"function","z":"e7d3ce9f.5f1bd","name":"check amount","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nvar insertData = flow.get('insertData');\nvar productData = flow.get('productData');\nvar userData = flow.get('userData');\nvar qualityData = flow.get('qualityData');\nvar time = new Date(new Date().getTime() + 9 * 1000 * 60 * 60);\nvar orderResultPrice = Number(insertData.resultPrice);\n\nvar realAmount = 0;\nvar pPrice = 0;\nvar prePrice = 0;\nif (userData.userType == 'NORMAL') {\n    prePrice = Number(productData.productPrice) * (1 + Number(msg.payload.consumer) / 100);\n    switch (insertData.productQuality) {\n        case \"normal\":\n            pPrice = prePrice;\n            break;\n        case \"advanced\":\n            pPrice = Math.ceil((prePrice * (1 + Number(qualityData.advanced) / 100) / 1000)) * 1000; \n            break;\n        case \"highend\":\n            pPrice = Math.ceil((prePrice * (1 + Number(qualityData.highend) / 100) / 1000)) * 1000; \n            break;\n    }\n    realAmount = Number(insertData.productCnt) *  pPrice + \n    Number(insertData.shippingPrice) + \n    Number(productData.shippingPriceExtra) * (Number(insertData.productCnt) - 1) + \n    Number(insertData.optionPrice);\n}else if (userData.userType == 'COMPANY') {\n    prePrice = Number(productData.productPrice) * (1 + Number(msg.payload.company) / 100);\n    switch (insertData.productQuality) {\n        case \"normal\":\n            pPrice = prePrice;\n            break;\n        case \"advanced\":\n            pPrice = Math.ceil((prePrice * (1 + Number(qualityData.advanced) / 100) / 1000)) * 1000; \n            break;\n        case \"highend\":\n            pPrice = Math.ceil((prePrice * (1 + Number(qualityData.highend) / 100) / 1000)) * 1000; \n            break;\n    }\n    realAmount = Number(insertData.productCnt) * pPrice +\n    Number(insertData.shippingPrice) + \n    Number(productData.shippingPriceExtra) * (Number(insertData.productCnt) - 1) + \n    Number(insertData.optionPrice);\n}else if (userData.userType == 'FLOWER') {\n    prePrice = Number(productData.productPrice);\n    switch (insertData.productQuality) {\n        case \"normal\":\n            pPrice = prePrice;\n            break;\n        case \"advanced\":\n            pPrice = Math.ceil((prePrice * (1 + Number(qualityData.advanced) / 100) / 1000)) * 1000; \n            break;\n        case \"highend\":\n            pPrice = Math.ceil((prePrice * (1 + Number(qualityData.highend) / 100) / 1000)) * 1000; \n            break;\n    }\n    realAmount = Number(insertData.productCnt) * pPrice +\n    Number(insertData.shippingPrice) + \n    Number(productData.shippingPriceExtra) * (Number(insertData.productCnt) - 1) + \n    Number(insertData.optionPrice);\n}\n\nnewMsg.collection = 'OrderData';\nnewMsg.operation = 'insert';\n\nif (orderResultPrice == realAmount) {\n    flow.set('resultCode', '0000');\n    newMsg.payload = {\n        'merchant_uid': insertData.merchant_uid,\n        'userId': insertData.userId,\n        'companyName': insertData.companyName,\n        'productId': insertData.productId,\n        'productType': insertData.productType,\n        'productCate': insertData.productCate,\n        'productName': productData.productName,\n        'productPrice': insertData.productPrice,\n        'productQuality': insertData.productQuality,\n        'optionPrice': insertData.optionPrice,\n        'productCnt': insertData.productCnt,\n        'productSrc': productData.productSrc,\n        'option': insertData.option,\n        'shippingPrice': insertData.shippingPrice,\n        'shipState': insertData.shipState,\n        'resultPrice': insertData.resultPrice,\n        'pay_method': insertData.pay_method,\n        'orderType': 'wait',\n        'orderMemo': insertData.orderMemo,\n        'orderFrom': insertData.orderFrom,\n        'orderTo': insertData.orderTo,\n        'orderPhone': insertData.orderPhone,\n        'orderTime': insertData.orderTime,\n        'orderAddr': insertData.orderAddr,\n        'orderRequest': insertData.orderRequest,\n        'orderCompleteDate': \"\",\n        'time': time,\n        'flag': 'N',\n        'delPerson': '',\n        'delPersonRel': '',\n        'delSrc': []\n    };\n} else {\n    flow.set('resultCode', '9002');\n    newMsg.payload = {\n        'merchant_uid': insertData.merchant_uid,\n        'userId': insertData.userId,\n        'companyName': insertData.companyName,\n        'productId': insertData.productId,\n        'productType': insertData.productType,\n        'productCate': insertData.productCate,\n        'productName': productData.productName,\n        'productPrice': insertData.productPrice,\n        'productQuality': insertData.productQuality,\n        'optionPrice': insertData.optionPrice,\n        'productCnt': insertData.productCnt,\n        'productSrc': productData.productSrc,\n        'option': insertData.option,\n        'shippingPrice': insertData.shippingPrice,\n        'shipState': insertData.shipState,\n        'resultPrice': insertData.resultPrice,\n        'pay_method': insertData.pay_method,\n        'orderType': 'fail',\n        'orderMemo': insertData.orderMemo,\n        'orderFrom': insertData.orderFrom,\n        'orderTo': insertData.orderTo,\n        'orderPhone': insertData.orderPhone,\n        'orderTime': insertData.orderTime,\n        'orderAddr': insertData.orderAddr,\n        'orderRequest': insertData.orderRequest,\n        'orderCompleteDate': \"\",\n        'time': time,\n        'flag': 'N',\n        'delPerson': '',\n        'delPersonRel': '',\n        'delSrc': []\n    };\n}\n\n// newMsg.payload = {\n//     'p1': realAmount,\n//     'p2': prePrice,\n//     'msg.payload.consumer': msg.payload.consumer\n// }\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1920,"y":60,"wires":[["a7c41672.3cd3a8"]]},{"id":"a7c41672.3cd3a8","type":"mongodb2 in","z":"e7d3ce9f.5f1bd","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":2070,"y":60,"wires":[["47c40bd3.31f6d4"]]},{"id":"f9084b3c.dd9048","type":"function","z":"e7d3ce9f.5f1bd","name":"findOne ProductData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nflow.set(\"orderData\",msg.payload);\n\nnewMsg.collection = 'ProductData';\nnewMsg.operation = 'findOne'; \nnewMsg.payload = {'productId': msg.payload.productId};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":380,"wires":[["5de2a5fc.5af48c"]]},{"id":"5de2a5fc.5af48c","type":"mongodb2 in","z":"e7d3ce9f.5f1bd","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":1090,"y":380,"wires":[["f63a594b.461a38"]]},{"id":"54b91d67.2f3d64","type":"mongodb2 in","z":"b185ea6c.7a8838","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":2070,"y":280,"wires":[["2e5bb721.7becd8"]]},{"id":"1bf43481.b8025b","type":"function","z":"b185ea6c.7a8838","name":"updateMany ProductData","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\nvar payType = flow.get('payType');\nvar productData = flow.get('productData');\n\nnewMsg.collection = \"ProductData\";\nif(payType == \"9001\") {\n    newMsg.operation = \"updateMany\";\n    newMsg.payload = [{'productId' : productData.productId},{$set:{'saleCnt': (productData.saleCnt+1)}}];\n}else {\n    newMsg.operation = 'findOne';\n    newMsg.payload = {'productId': \"errorId\"};\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1890,"y":280,"wires":[["54b91d67.2f3d64"]]},{"id":"697d18b.32f3be8","type":"function","z":"a901f52e.f6bc28","name":"find.toArray CategoryData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'CategoryData';\nnewMsg.operation = 'find.toArray';\nnewMsg.payload = {'categoryId': msg.payload.categoryId};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":80,"wires":[["2efdb721.b8f4f8"]]},{"id":"b819c09e.f31e1","type":"http in","z":"a901f52e.f6bc28","name":"","url":"/appapi/GET_CATEGORY/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":200,"y":80,"wires":[["20e3996c.ee67b6","697d18b.32f3be8"]]},{"id":"2efdb721.b8f4f8","type":"mongodb2 in","z":"a901f52e.f6bc28","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":690,"y":80,"wires":[["3ef89462.8e81bc"]]},{"id":"20e3996c.ee67b6","type":"debug","z":"a901f52e.f6bc28","name":"GET_CATEGORY","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":40,"wires":[]},{"id":"3ef89462.8e81bc","type":"function","z":"a901f52e.f6bc28","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상 처리되었습니다.\",\"resultData\": msg.payload};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":80,"wires":[["e0ae8bfd.8a6558","bca476c6.276818"]]},{"id":"e0ae8bfd.8a6558","type":"http response","z":"a901f52e.f6bc28","name":"","statusCode":"","headers":{},"x":950,"y":80,"wires":[]},{"id":"bca476c6.276818","type":"debug","z":"a901f52e.f6bc28","name":"GET_CATEGORY response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":40,"wires":[]},{"id":"3ca1d6c2.1969ca","type":"http in","z":"a901f52e.f6bc28","name":"","url":"/appapi/SET_CATEGORY/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":200,"y":180,"wires":[["90f5b13.0c66d5","3e5be69a.15cbba"]]},{"id":"90f5b13.0c66d5","type":"debug","z":"a901f52e.f6bc28","name":"SET_CATEGORY","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":140,"wires":[]},{"id":"aabc033e.7a6c7","type":"mongodb2 in","z":"a901f52e.f6bc28","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":790,"y":180,"wires":[["d22115e.150eee8"]]},{"id":"d22115e.150eee8","type":"function","z":"a901f52e.f6bc28","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상 처리되었습니다.\"};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":180,"wires":[["d53964e5.791128","a7c8a8ff.ff9a48"]]},{"id":"d53964e5.791128","type":"http response","z":"a901f52e.f6bc28","name":"","statusCode":"","headers":{},"x":1050,"y":180,"wires":[]},{"id":"a7c8a8ff.ff9a48","type":"debug","z":"a901f52e.f6bc28","name":"SET_CATEGORY response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1120,"y":140,"wires":[]},{"id":"3e5be69a.15cbba","type":"function","z":"a901f52e.f6bc28","name":"INSERT/UPDATE/DELETE CategoryData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'CategoryData';\n\nvar actionType = msg.payload.actionType;\nif(actionType == \"INSERT\") {\n    newMsg.operation = 'insert';\n    newMsg.payload = {categoryId: msg.payload.categoryId, categorySubId: msg.payload.categorySubId, categoryData: msg.payload.categoryData};\n} else if(actionType == \"UPDATE\") {\n    newMsg.operation = 'updateMany';\n    newMsg.payload = [{categoryId: msg.payload.categoryId, categorySubId: msg.payload.categorySubId}, {$set: {categoryData: msg.payload.categoryData}}];\n} else if(actionType == \"DELETE\") {\n    newMsg.operation = 'updateMany';\n    newMsg.payload = [{categoryId: msg.payload.categoryId, categorySubId: msg.payload.categorySubId}, {$set: {categoryData: msg.payload.categoryData}}];\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":180,"wires":[["aabc033e.7a6c7"]]},{"id":"46f6b17b.5e68d","type":"http in","z":"e126ee38.4ad39","name":"","url":"/appapi/SET_NOTICE_VIEW/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":230,"y":340,"wires":[["6f899992.94db88","a41a411b.26e06"]]},{"id":"6f899992.94db88","type":"debug","z":"e126ee38.4ad39","name":"SET_NOTICE_VIEW","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":380,"wires":[]},{"id":"a41a411b.26e06","type":"function","z":"e126ee38.4ad39","name":"findOne NoticeData","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nflow.set('viewData', msg.payload);\n\nnewMsg.collection = \"NoticeData\";\nnewMsg.operation = \"findOne\";\n\nnewMsg.payload = {'noticeId' : msg.payload.noticeId};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":340,"wires":[["8c3ee08f.ce7ce"]]},{"id":"8c3ee08f.ce7ce","type":"mongodb2 in","z":"e126ee38.4ad39","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":690,"y":340,"wires":[["32bb2036.0c7"]]},{"id":"32bb2036.0c7","type":"function","z":"e126ee38.4ad39","name":"updateMany NoticeData","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nvar viewData = flow.get('viewData');\n\nnewMsg.collection = \"NoticeData\";\n\nif (viewData.authType == \"USER\") {\n    newMsg.operation = \"updateMany\";\n    newMsg.payload = [{'noticeId' : msg.payload.noticeId},{$set:{'noticeCnt': Number(msg.payload.noticeCnt+1)}}];\n} else if (viewData.authType == \"ADMIN\") {\n    newMsg.operation = \"findOne\";\n    newMsg.payload = {};\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":340,"wires":[["fc1b4e85.41879"]]},{"id":"fc1b4e85.41879","type":"mongodb2 in","z":"e126ee38.4ad39","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":1050,"y":340,"wires":[["5904932f.f0314c"]]},{"id":"5904932f.f0314c","type":"function","z":"e126ee38.4ad39","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상처리 되었습니다\"};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":340,"wires":[["b0ef1a2c.303b18","fc68e62b.09cef8"]]},{"id":"b0ef1a2c.303b18","type":"http response","z":"e126ee38.4ad39","name":"","statusCode":"","headers":{},"x":1310,"y":340,"wires":[]},{"id":"fc68e62b.09cef8","type":"debug","z":"e126ee38.4ad39","name":"SET_NOTICE_VIEW response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1390,"y":380,"wires":[]},{"id":"4c2cb234.fc62fc","type":"switch","z":"e126ee38.4ad39","name":"","property":"payload.actionType","propertyType":"msg","rules":[{"t":"eq","v":"INSERT","vt":"str"},{"t":"eq","v":"UPDATE","vt":"str"},{"t":"eq","v":"DELETE","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":450,"y":80,"wires":[["f7475c08.79cc9"],["b6165826.af99d8"],["8fcb9504.6958e8"]]},{"id":"f7475c08.79cc9","type":"function","z":"e126ee38.4ad39","name":"insert NoticeData","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'NoticeData';\nnewMsg.operation = 'insert';\n\nnewMsg.payload = {'noticeId': msg.payload.noticeId, \n                'type': msg.payload.type,\n                'noticeTitle': msg.payload.noticeTitle,\n                'noticeContent': msg.payload.noticeContent,\n                'noticeDate': msg.payload.noticeDate,\n                'noticeCnt': 0,\n                'flag': 'Y'\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":60,"wires":[["808bec9c.2fdec"]]},{"id":"808bec9c.2fdec","type":"mongodb2 in","z":"e126ee38.4ad39","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":770,"y":60,"wires":[["f0239f0f.ee051"]]},{"id":"f0239f0f.ee051","type":"function","z":"e126ee38.4ad39","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상처리 되었습니다\"};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":60,"wires":[["7507e60b.ea53f8","a281acdc.72b0d"]]},{"id":"7507e60b.ea53f8","type":"http response","z":"e126ee38.4ad39","name":"","statusCode":"","headers":{},"x":1030,"y":60,"wires":[]},{"id":"a281acdc.72b0d","type":"debug","z":"e126ee38.4ad39","name":"SET_NOTICE response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1350,"y":100,"wires":[]},{"id":"50a8ae4c.c29ed","type":"function","z":"e7d3ce9f.5f1bd","name":"USERID","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'OrderData';\nnewMsg.operation = 'find.toArray'; \nnewMsg.payload = {\n    'userId': msg.payload.userId, \n    'time': {\n        $gte: new Date(msg.payload.startDate), \n        $lte: new Date(new Date(msg.payload.endDate).getTime() + 24 * 1000 * 60 * 60)\n    }\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":500,"wires":[["a8ae4fb9.79ded"]]},{"id":"a8ae4fb9.79ded","type":"mongodb2 in","z":"e7d3ce9f.5f1bd","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":750,"y":500,"wires":[["458bc49d.81fbdc"]]},{"id":"458bc49d.81fbdc","type":"function","z":"e7d3ce9f.5f1bd","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상 처리되었습니다.\",\"resultData\": msg.payload};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":500,"wires":[["5d812eaa.440fe","590b309f.6daac"]]},{"id":"5d812eaa.440fe","type":"http response","z":"e7d3ce9f.5f1bd","name":"","statusCode":"","headers":{},"x":1010,"y":500,"wires":[]},{"id":"9d724ec6.fff2b","type":"switch","z":"e7d3ce9f.5f1bd","name":"","property":"payload.actionType","propertyType":"msg","rules":[{"t":"eq","v":"INSERT","vt":"str"},{"t":"eq","v":"UPDATE","vt":"str"},{"t":"eq","v":"SRC","vt":"str"},{"t":"eq","v":"DELETE","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":450,"y":80,"wires":[["d0c6d31b.45876"],["ecc6f9bb.494cd8"],["4c70ac65.2d02d4"],[]]},{"id":"d0c6d31b.45876","type":"function","z":"e7d3ce9f.5f1bd","name":"findOne UserData","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nflow.set('insertData', msg.payload);\n\nnewMsg.collection = \"UserData\";\nnewMsg.operation = \"findOne\";\n\nnewMsg.payload = {'userId' : msg.payload.userId};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":60,"wires":[["5e988441.0e103c"]]},{"id":"5e988441.0e103c","type":"mongodb2 in","z":"e7d3ce9f.5f1bd","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":790,"y":60,"wires":[["e388ccdf.d029d"]]},{"id":"47c40bd3.31f6d4","type":"switch","z":"e7d3ce9f.5f1bd","name":"","property":"resultCode","propertyType":"flow","rules":[{"t":"eq","v":"0000","vt":"str"},{"t":"eq","v":"9002","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2190,"y":60,"wires":[["356b92c.813e06e"],["b260df4c.efaf4"]]},{"id":"b260df4c.efaf4","type":"function","z":"e7d3ce9f.5f1bd","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"9002\", \"resultMessage\" : \"결제에 실패하였습니다. 다시 결제해주세요.\"};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2320,"y":100,"wires":[["53405a4d.d00ca4","8ab57be0.22c5c8"]]},{"id":"53405a4d.d00ca4","type":"http response","z":"e7d3ce9f.5f1bd","name":"","statusCode":"","headers":{},"x":2450,"y":100,"wires":[]},{"id":"bae1e3da.eeb9a","type":"function","z":"ab20c9b2.9901b8","name":"findOne PriceData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'PriceData';\nnewMsg.operation = 'findOne';\nnewMsg.payload = {id: msg.payload.actionType};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":80,"wires":[["5d67fa2b.c4e674"]]},{"id":"f2171a8d.770428","type":"http in","z":"ab20c9b2.9901b8","name":"","url":"/appapi/GET_PRICE/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":200,"y":80,"wires":[["eedda083.6b517","bae1e3da.eeb9a"]]},{"id":"5d67fa2b.c4e674","type":"mongodb2 in","z":"ab20c9b2.9901b8","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":630,"y":80,"wires":[["9db0545c.76fdc8"]]},{"id":"eedda083.6b517","type":"debug","z":"ab20c9b2.9901b8","name":"GET_PRICE","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":40,"wires":[]},{"id":"9db0545c.76fdc8","type":"function","z":"ab20c9b2.9901b8","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\",\n                \"resultMessage\" : \"정상 처리되었습니다.\",\n                \"resultData\": msg.payload};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":80,"wires":[["52c54ed.7e06eb","eb9772d.3bbe29"]]},{"id":"52c54ed.7e06eb","type":"http response","z":"ab20c9b2.9901b8","name":"","statusCode":"","headers":{},"x":890,"y":80,"wires":[]},{"id":"eb9772d.3bbe29","type":"debug","z":"ab20c9b2.9901b8","name":"GET_PRICE response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":40,"wires":[]},{"id":"7bd3e8e1.11c9e8","type":"http in","z":"ab20c9b2.9901b8","name":"","url":"/appapi/SET_PRICE/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":200,"y":180,"wires":[["3982749a.98217c","904239d0.155d38"]]},{"id":"3982749a.98217c","type":"debug","z":"ab20c9b2.9901b8","name":"SET_PRICE","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":140,"wires":[]},{"id":"d398fb23.bef3f8","type":"mongodb2 in","z":"ab20c9b2.9901b8","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":630,"y":180,"wires":[["a3a59293.db2a9"]]},{"id":"a3a59293.db2a9","type":"function","z":"ab20c9b2.9901b8","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상 처리되었습니다.\"};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":180,"wires":[["79882c13.f172f4","e18e1a9.5c4b5e8"]]},{"id":"79882c13.f172f4","type":"http response","z":"ab20c9b2.9901b8","name":"","statusCode":"","headers":{},"x":890,"y":180,"wires":[]},{"id":"e18e1a9.5c4b5e8","type":"debug","z":"ab20c9b2.9901b8","name":"SET_PRICE response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":140,"wires":[]},{"id":"904239d0.155d38","type":"function","z":"ab20c9b2.9901b8","name":"UPDATE PriceData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'PriceData';\n\nnewMsg.operation = 'updateMany';\nnewMsg.payload = [{id: msg.payload.actionType}, {$set: {\n    company: msg.payload.company, \n    consumer: msg.payload.consumer,\n    advanced: msg.payload.advanced,\n    highend: msg.payload.highend\n}}];\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":180,"wires":[["d398fb23.bef3f8"]]},{"id":"71a6da92.1646b4","type":"function","z":"e7d3ce9f.5f1bd","name":"COUNT","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'OrderData';\nnewMsg.operation = 'find.toArray';\nnewMsg.payload = {\n    'time': {\n        $gte: new Date(msg.payload.startDate), \n        $lte: new Date(new Date(msg.payload.endDate).getTime() + 1000 * 60 * 60 * 24) \n    }\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":560,"wires":[["b0d0f8a8.8cc9d8"]]},{"id":"b0d0f8a8.8cc9d8","type":"mongodb2 in","z":"e7d3ce9f.5f1bd","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":750,"y":560,"wires":[["19f68db1.e7a7a2"]]},{"id":"19f68db1.e7a7a2","type":"function","z":"e7d3ce9f.5f1bd","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상 처리되었습니다.\", \"resultData\": msg.payload};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":560,"wires":[["7ed115e.8e748ec"]]},{"id":"7ed115e.8e748ec","type":"http response","z":"e7d3ce9f.5f1bd","name":"","statusCode":"","headers":{},"x":1010,"y":560,"wires":[]},{"id":"3194c056.f54cd","type":"http response","z":"e7d3ce9f.5f1bd","name":"","statusCode":"","headers":{},"x":1010,"y":240,"wires":[]},{"id":"b7ef2a3f.c3a3f8","type":"function","z":"e7d3ce9f.5f1bd","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상 처리되었습니다.\"};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":240,"wires":[["3194c056.f54cd"]]},{"id":"4c70ac65.2d02d4","type":"function","z":"e7d3ce9f.5f1bd","name":"change img","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nflow.set('delSrc',msg.payload.delSrc);\n\nif (msg.payload.delSrc.includes(\"/img/ship\")) {\n    \n    return [newMsg, null];\n} else {\n    var imageName = msg.payload.delSrcName;\n    var originSrc = msg.payload.delSrc.split(\",\")[1];\n    var path = \"/var/www/html/img/ship/\" + msg.payload.merchant_uid + \"/\" + imageName;\n    newMsg.payload = Buffer.from(originSrc, 'base64');\n    newMsg.filename = path;\n    return [null, newMsg];\n}\n\n\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":610,"y":200,"wires":[["597ba7b9.5abd68"],["82b01aab.569b78"]]},{"id":"82b01aab.569b78","type":"file","z":"e7d3ce9f.5f1bd","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":750,"y":240,"wires":[["b7ef2a3f.c3a3f8"]]},{"id":"a296bdf.da2a84","type":"function","z":"e7d3ce9f.5f1bd","name":"updateMany OrderData","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nvar updateData = flow.get('updateData');\n\nnewMsg.collection = \"OrderData\";\nnewMsg.operation = \"updateMany\";\n\nnewMsg.payload = [{'merchant_uid' : updateData.merchant_uid}, \n                {$set: {'delPerson': updateData.delPerson,\n                'delPersonRel': updateData.delPersonRel,\n                'orderCompleteDate': updateData.orderCompleteDate,\n                'delSrc': updateData.delSrc,\n                'orderType': 'complete'\n                }}];\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":120,"wires":[["3d64365b.4e910a"]]},{"id":"3d64365b.4e910a","type":"mongodb2 in","z":"e7d3ce9f.5f1bd","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":1150,"y":120,"wires":[["9ed9424d.4cd95"]]},{"id":"9ed9424d.4cd95","type":"function","z":"e7d3ce9f.5f1bd","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상 처리되었습니다.\"};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1280,"y":120,"wires":[["7955a8b1.a0b2b8"]]},{"id":"7955a8b1.a0b2b8","type":"http response","z":"e7d3ce9f.5f1bd","name":"","statusCode":"","headers":{},"x":1410,"y":120,"wires":[]},{"id":"8ab57be0.22c5c8","type":"debug","z":"e7d3ce9f.5f1bd","name":"SET_ORDER response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3790,"y":100,"wires":[]},{"id":"ecc6f9bb.494cd8","type":"function","z":"e7d3ce9f.5f1bd","name":"findOne OrderData","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nif (!msg.payload.delSrc) {\n    msg.payload.delSrc = [];\n}\nflow.set('updateData', msg.payload);\n\nnewMsg.collection = \"OrderData\";\nnewMsg.operation = \"findOne\";\n\nnewMsg.payload = {'merchant_uid' : msg.payload.merchant_uid};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":120,"wires":[["f0387cb8.b10cc"]]},{"id":"f0387cb8.b10cc","type":"mongodb2 in","z":"e7d3ce9f.5f1bd","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":790,"y":120,"wires":[["a296bdf.da2a84","662ad1de.93c1b"]]},{"id":"662ad1de.93c1b","type":"function","z":"e7d3ce9f.5f1bd","name":"delete img","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nvar updateData = flow.get('updateData');\n\nfor (var i = 0; i < msg.payload.delSrc.length; i ++) {\n    var isSrc = false;\n    for (var j = 0; j < updateData.delSrc.length; j ++) {\n        if (msg.payload.delSrc[i] == updateData.delSrc[j]) {\n            isSrc = true;\n        }\n        \n    }\n    if (!isSrc) {\n        newMsg.filename = \"/var/www/html/img/ship/\" + updateData.merchant_uid + \"/\" + msg.payload.delSrc[i];\n        node.send(newMsg);\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":160,"wires":[["2a08822e.03171e"]]},{"id":"2a08822e.03171e","type":"file","z":"e7d3ce9f.5f1bd","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"delete","encoding":"none","x":1070,"y":160,"wires":[[]]},{"id":"597ba7b9.5abd68","type":"function","z":"e7d3ce9f.5f1bd","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상 처리되었습니다.\"};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":200,"wires":[["4002b4fa.3ed18c"]]},{"id":"4002b4fa.3ed18c","type":"http response","z":"e7d3ce9f.5f1bd","name":"","statusCode":"","headers":{},"x":890,"y":200,"wires":[]},{"id":"9b5ecdc7.8d442","type":"function","z":"46993806.65eeb8","name":"findOne PointData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'PointData';\nnewMsg.operation = 'findOne';\n\nnewMsg.payload = {merchant_uid: msg.payload.merchant_uid};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":140,"wires":[["7318b676.8bf968"]]},{"id":"d2b9d667.d5bcb8","type":"http in","z":"46993806.65eeb8","name":"","url":"/appapi/GET_POINT/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":200,"y":80,"wires":[["470463ce.03a1bc","95a33c38.dd9b"]]},{"id":"7318b676.8bf968","type":"mongodb2 in","z":"46993806.65eeb8","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":750,"y":140,"wires":[["39a8f01c.2ed68"]]},{"id":"470463ce.03a1bc","type":"debug","z":"46993806.65eeb8","name":"GET_POINT","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":40,"wires":[]},{"id":"39a8f01c.2ed68","type":"function","z":"46993806.65eeb8","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\",\n                \"resultMessage\" : \"정상 처리되었습니다.\",\n                \"resultData\": msg.payload};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":140,"wires":[["ac5d7da6.3744d","91184f0b.fce0e"]]},{"id":"ac5d7da6.3744d","type":"http response","z":"46993806.65eeb8","name":"","statusCode":"","headers":{},"x":1010,"y":140,"wires":[]},{"id":"2829edb1.624152","type":"http in","z":"46993806.65eeb8","name":"","url":"/appapi/SET_POINT/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":200,"y":220,"wires":[["b18b918b.75abc","46475359.68b5cc"]]},{"id":"b18b918b.75abc","type":"debug","z":"46993806.65eeb8","name":"SET_POINT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":180,"wires":[]},{"id":"3c551d4c.b205f2","type":"mongodb2 in","z":"46993806.65eeb8","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":930,"y":220,"wires":[["e9c26f1e.3bf3"]]},{"id":"4f921785.4a2928","type":"function","z":"46993806.65eeb8","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상 처리되었습니다.\"};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":220,"wires":[["67b90894.7e5308","3b3c6436.76230c"]]},{"id":"67b90894.7e5308","type":"debug","z":"46993806.65eeb8","name":"SET_POINT response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1580,"y":180,"wires":[]},{"id":"f686baa0.32ddd8","type":"function","z":"46993806.65eeb8","name":"find.toArray PointData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'UserData';\nnewMsg.operation = 'findOne';\nnewMsg.payload = {userId: msg.payload.userId};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":380,"wires":[["635c59b9.710378"]]},{"id":"49b0937e.d6038c","type":"http in","z":"46993806.65eeb8","name":"","url":"/appapi/GET_POINT_NUMBER/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":240,"y":380,"wires":[["970fcb7c.2f19d8","f686baa0.32ddd8"]]},{"id":"635c59b9.710378","type":"mongodb2 in","z":"46993806.65eeb8","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":730,"y":380,"wires":[["5ec15955.c6a1d8"]]},{"id":"970fcb7c.2f19d8","type":"debug","z":"46993806.65eeb8","name":"GET_POINT_NUMBER","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":340,"wires":[]},{"id":"5ec15955.c6a1d8","type":"function","z":"46993806.65eeb8","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\",\n                \"resultMessage\" : \"정상 처리되었습니다.\",\n                \"resultData\": msg.payload.point};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":380,"wires":[["525c0f37.d397c","dd8797a2.580798"]]},{"id":"525c0f37.d397c","type":"http response","z":"46993806.65eeb8","name":"","statusCode":"","headers":{},"x":990,"y":380,"wires":[]},{"id":"dd8797a2.580798","type":"debug","z":"46993806.65eeb8","name":"GET_POINT_NUMBER response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1080,"y":340,"wires":[]},{"id":"2c14dac9.68ef26","type":"function","z":"e7d3ce9f.5f1bd","name":"insert PointData","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nvar insertData = flow.get('insertData');\nvar userData = flow.get('userData');\n\nnewMsg.collection = \"PointData\";\nnewMsg.operation = \"insert\";\nnewMsg.payload = {\n    'userId': insertData.userId, \n    'merchant_uid': insertData.merchant_uid,\n    'time' : new Date(),\n    'chargePoint': 0, \n    'usePoint': -Number(insertData.resultPrice), \n    'totalPoint': Number(userData.point) - Number(insertData.resultPrice), \n    'memo': '거래번호 [' + insertData.merchant_uid + ']의 발주', \n    'status': 'complete',\n    'flag': 'Y'\n    \n};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2620,"y":60,"wires":[["36cbb756.b2c328"]]},{"id":"36cbb756.b2c328","type":"mongodb2 in","z":"e7d3ce9f.5f1bd","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":2770,"y":60,"wires":[["a5eca12d.c35a9"]]},{"id":"a5eca12d.c35a9","type":"function","z":"e7d3ce9f.5f1bd","name":"updateMany ProductData","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nvar productData = flow.get('productData');\n\nnewMsg.collection = \"ProductData\";\nnewMsg.operation = \"updateMany\";\nnewMsg.payload = [{'productId' : productData.productId},{$set:{'saleCnt': (productData.saleCnt+1)}}];\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2950,"y":60,"wires":[["d8bc2551.6e53c8"]]},{"id":"d8bc2551.6e53c8","type":"mongodb2 in","z":"e7d3ce9f.5f1bd","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":3130,"y":60,"wires":[["b01d24bd.a049a8"]]},{"id":"356b92c.813e06e","type":"function","z":"e7d3ce9f.5f1bd","name":"check point","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nvar insertData = flow.get('insertData');\nvar userData = flow.get('userData');\n\nif (insertData.resultPrice < userData.point) {\n    flow.set('resultCode', '0000');\n} else {\n    flow.set('resultCode', '9003');\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2330,"y":60,"wires":[["31af13fe.4336dc"]]},{"id":"31af13fe.4336dc","type":"switch","z":"e7d3ce9f.5f1bd","name":"","property":"resultCode","propertyType":"flow","rules":[{"t":"eq","v":"0000","vt":"str"},{"t":"eq","v":"9003","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2470,"y":60,"wires":[["2c14dac9.68ef26"],["205ef7d7.a2b628"]]},{"id":"205ef7d7.a2b628","type":"function","z":"e7d3ce9f.5f1bd","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"9003\", \"resultMessage\" : \"포인트가 부족합니다.\"};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2600,"y":100,"wires":[["9b65bb94.176e18","8ab57be0.22c5c8"]]},{"id":"9b65bb94.176e18","type":"http response","z":"e7d3ce9f.5f1bd","name":"","statusCode":"","headers":{},"x":2730,"y":100,"wires":[]},{"id":"b01d24bd.a049a8","type":"function","z":"e7d3ce9f.5f1bd","name":"updateMany UserData","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nvar insertData = flow.get('insertData');\nvar userData = flow.get('userData');\n\nvar resultPoint = Number(userData.point) - Number(insertData.resultPrice);\n\nnewMsg.collection = \"UserData\";\nnewMsg.operation = \"updateMany\";\n\nnewMsg.payload = [{'userId' : insertData.userId},{$set:{'point': resultPoint}}];\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3300,"y":60,"wires":[["fd12f9e3.d2f928"]]},{"id":"fd12f9e3.d2f928","type":"mongodb2 in","z":"e7d3ce9f.5f1bd","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":3470,"y":60,"wires":[["99bb1ee0.fd2d6"]]},{"id":"95a33c38.dd9b","type":"switch","z":"46993806.65eeb8","name":"","property":"payload.actionType","propertyType":"msg","rules":[{"t":"eq","v":"TOARRAY","vt":"str"},{"t":"eq","v":"FINDONE","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":80,"wires":[["544929f6.e83e48"],["9b5ecdc7.8d442"]]},{"id":"544929f6.e83e48","type":"function","z":"46993806.65eeb8","name":"find.toArray PointData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'PointData';\nnewMsg.operation = 'find.toArray';\nnewMsg.payload = {\n    userId: msg.payload.userId, \n    'flag': 'Y',\n    'time': {\n        $gte: new Date(msg.payload.startDate),\n        $lte: new Date(msg.payload.endDate)\n    }\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":80,"wires":[["c9c6a25c.2f0b"]]},{"id":"c9c6a25c.2f0b","type":"mongodb2 in","z":"46993806.65eeb8","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":770,"y":80,"wires":[["a8ca6c6a.e287f"]]},{"id":"a8ca6c6a.e287f","type":"function","z":"46993806.65eeb8","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\",\n                \"resultMessage\" : \"정상 처리되었습니다.\",\n                \"resultData\": msg.payload};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":80,"wires":[["bc14d5ba.744168","91184f0b.fce0e"]]},{"id":"bc14d5ba.744168","type":"http response","z":"46993806.65eeb8","name":"","statusCode":"","headers":{},"x":1030,"y":80,"wires":[]},{"id":"91184f0b.fce0e","type":"debug","z":"46993806.65eeb8","name":"GET_POINT response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1080,"y":40,"wires":[]},{"id":"3b3c6436.76230c","type":"http response","z":"46993806.65eeb8","name":"","statusCode":"","headers":{},"x":1530,"y":220,"wires":[]},{"id":"e4657625.77fd88","type":"function","z":"46993806.65eeb8","name":"insert PointData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'PointData';\nnewMsg.operation = 'insert';\n\nflow.set('userData', msg.payload);\nvar insertData = flow.get('insertData');\nvar flag = 'Y';\nvar getPoint = msg.payload.point;\nvar resultPoint = 0;\nvar payway = \"\";\nswitch(insertData.pay_method) {\n    case 'card':\n        payway = \"신용카드\"\n        break;\n    case 'vbank':\n        payway = \"가상계좌\"\n        break;\n    case 'point':\n        payway = \"카카오페이\"\n        break;\n}\nif (insertData.actionType == \"PC\") {\n    if (insertData.status == 'cancelled' || insertData.status == 'failed') {\n        resultPoint = Number(getPoint);\n    } else if (insertData.status == 'ready') {\n        resultPoint = Number(getPoint);\n    } else if (insertData.status == 'paid') {\n        resultPoint = Number(getPoint) + Number(insertData.chargePoint);\n    }\n    newMsg.payload = {\n        'userId': insertData.userId,\n        'imp_uid': insertData.imp_uid,\n        'merchant_uid': insertData.merchant_uid,\n        'time': new Date(),\n        'chargePoint': Number(insertData.chargePoint),\n        'usePoint': 0,\n        'feePoint': Number(insertData.feePoint),\n        'totalPoint': resultPoint,\n        'pay_method': insertData.pay_method,\n        'vbank_num': insertData.vbank_num,\n        'vbank_name': insertData.vbank_name,\n        'vbank_holder': insertData.vbank_holder,\n        'vbank_date': insertData.vbank_date,\n        'memo': payway + ' 결제',\n        'status': insertData.status,\n        'receipt': insertData.receipt,\n        'flag': flag\n    };\n} else if (insertData.actionType == \"MOBILE\") {\n    newMsg.payload = {\n        'userId': insertData.userId,\n        'imp_uid': insertData.imp_uid,\n        'merchant_uid': insertData.merchant_uid,\n        'time': new Date(),\n        'chargePoint': Number(insertData.chargePoint),\n        'usePoint': 0,\n        'feePoint': Number(insertData.feePoint),\n        'totalPoint': Number(getPoint),\n        'pay_method': insertData.pay_method,\n        'vbank_num': insertData.vbank_num,\n        'vbank_name': insertData.vbank_name,\n        'vbank_holder': insertData.vbank_holder,\n        'vbank_date': insertData.vbank_date,\n        'memo': payway + ' 결제',\n        'status': insertData.status,\n        'receipt': insertData.receipt,\n        'flag': flag\n    };\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":220,"wires":[["3c551d4c.b205f2"]]},{"id":"46475359.68b5cc","type":"function","z":"46993806.65eeb8","name":"findOne UserData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nflow.set('insertData', msg.payload);\n\nnewMsg.collection = 'UserData';\nnewMsg.operation = 'findOne';\n\nnewMsg.payload = {userId: msg.payload.userId};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":220,"wires":[["2021c163.07c2be"]]},{"id":"2021c163.07c2be","type":"mongodb2 in","z":"46993806.65eeb8","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":630,"y":220,"wires":[["e4657625.77fd88"]]},{"id":"e9c26f1e.3bf3","type":"function","z":"46993806.65eeb8","name":"updateMany UserData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nvar userData = flow.get('userData');\nvar insertData = flow.get('insertData');\nvar resultPoint = 0;\n// 결제대기, 취소, 실패 시\nif (insertData.status == 'ready' || insertData.status == 'cancelled' || insertData.status == 'failed') {\n    resultPoint = Number(userData.point);\n} \n// 결제 성공 시\nelse if (insertData.status == 'paid') {\n    resultPoint = Number(userData.point) + Number(insertData.chargePoint);\n}\nnewMsg.collection = 'UserData';\nnewMsg.operation = 'updateMany';\n\nnewMsg.payload = [{userId: userData.userId},{$set: {'point': resultPoint}}];\n\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":220,"wires":[["ed03e57d.1cddc8"]]},{"id":"ed03e57d.1cddc8","type":"mongodb2 in","z":"46993806.65eeb8","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":1270,"y":220,"wires":[["4f921785.4a2928"]]},{"id":"3834c097.d967","type":"http in","z":"d8849b02.3010c8","name":"","url":"/appapi/SET_WEBHOOK/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":220,"y":80,"wires":[["5428d93f.37b4f8","7cb1e4c5.a8188c"]]},{"id":"f80bc7d4.104c88","type":"http response","z":"d8849b02.3010c8","name":"","statusCode":"","headers":{},"x":1590,"y":140,"wires":[]},{"id":"5428d93f.37b4f8","type":"debug","z":"d8849b02.3010c8","name":"SET_WEBHOOK","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":40,"wires":[]},{"id":"f3fdc5c1.810748","type":"function","z":"e7d3ce9f.5f1bd","name":"findOne PriceData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nflow.set('qualityData', msg.payload);\n\nnewMsg.collection = 'PriceData';\nnewMsg.operation = 'findOne';\n\nnewMsg.payload = {\n    'id': 'price'\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1610,"y":60,"wires":[["a9a85d5b.f73cb"]]},{"id":"a9a85d5b.f73cb","type":"mongodb2 in","z":"e7d3ce9f.5f1bd","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":1770,"y":60,"wires":[["e42455f1.ae53a8"]]},{"id":"3914dc28.f06494","type":"function","z":"d8849b02.3010c8","name":"updateMany PointData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nvar insertData = flow.get('insertData');\nflow.set('pointData', msg.payload);\n\nnewMsg.collection = 'PointData';\nnewMsg.operation = 'updateMany';\nvar resultPoint = Number(msg.payload.totalPoint) + Number(msg.payload.chargePoint);\n\nif (msg.payload.status == 'ready' && insertData.status == 'paid') {\n    newMsg.payload = [\n        {\n            merchant_uid: msg.payload.merchant_uid\n        }, \n        {\n            $set: {\n                'status': insertData.status,\n                'totalPoint': resultPoint\n            }\n        }\n    ];\n}  \n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":140,"wires":[["bc0411c7.26a34"]]},{"id":"bc0411c7.26a34","type":"mongodb2 in","z":"d8849b02.3010c8","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":1130,"y":140,"wires":[["48662251.1f75bc"]]},{"id":"8bad6eba.21ad2","type":"mongodb2 in","z":"d8849b02.3010c8","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":670,"y":80,"wires":[["ea050c83.a4ebd"]]},{"id":"7cb1e4c5.a8188c","type":"function","z":"d8849b02.3010c8","name":"findOne PointData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nflow.set('insertData', msg.payload);\n\nnewMsg.collection = 'PointData';\nnewMsg.operation = 'findOne';\n\nnewMsg.payload = {merchant_uid: msg.payload.merchant_uid};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":80,"wires":[["8bad6eba.21ad2"]]},{"id":"a2d4510b.de786","type":"function","z":"6be1e02c.fe042","name":"UPDATE UserData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'UserData';\nnewMsg.operation = 'updateMany';\nif (msg.payload.userPw !== \"\") {\n    newMsg.payload = [{'userId': msg.payload.userId}, \n                {$set:{\n                    'companyName': msg.payload.companyName,\n                    'ceoName': msg.payload.ceoName,\n                    'userPw': msg.payload.userPw,\n                    'userPhone': msg.payload.userPhone,\n                    'userEmail': msg.payload.userEmail,\n                    'userTel': msg.payload.userTel,\n                    'companyNumber': msg.payload.companyNumber,\n                    'userFax': msg.payload.userFax,\n                    'companyAddress': msg.payload.companyAddress\n                }}];\n} else {\n    newMsg.payload = [{'userId': msg.payload.userId}, \n                {$set:{\n                    'flag': 'Y'\n                }}];\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":80,"wires":[["c63cd7ed.f39e68","6da4899f.ea0af8"]]},{"id":"c63cd7ed.f39e68","type":"mongodb2 in","z":"6be1e02c.fe042","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":750,"y":80,"wires":[["c849cd59.7aaa2"]]},{"id":"c849cd59.7aaa2","type":"function","z":"6be1e02c.fe042","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상처리 되었습니다.\"};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":80,"wires":[["a7e75f53.7c9e7","324e7eb2.5f70a2"]]},{"id":"a7e75f53.7c9e7","type":"http response","z":"6be1e02c.fe042","name":"","statusCode":"","headers":{},"x":1010,"y":80,"wires":[]},{"id":"8fcb9504.6958e8","type":"function","z":"e126ee38.4ad39","name":"delete NoticeData","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'NoticeData';\nnewMsg.operation = 'updateMany';\n\nfor (var i = 0; i < msg.payload.noticeId.length; i ++) {\n    newMsg.payload = [{'noticeId': msg.payload.noticeId[i]}, {$set: {'flag': 'N'}}];\n    node.send(newMsg);\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":180,"wires":[["40a11427.8e498c"]]},{"id":"40a11427.8e498c","type":"mongodb2 in","z":"e126ee38.4ad39","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":770,"y":180,"wires":[["7ff6f3c.2ce5c0c"]]},{"id":"5c0178ad.03d388","type":"http response","z":"e126ee38.4ad39","name":"","statusCode":"","headers":{},"x":1150,"y":180,"wires":[]},{"id":"7ff6f3c.2ce5c0c","type":"function","z":"e126ee38.4ad39","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상처리 되었습니다\"};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":180,"wires":[["85a2929.a9ae27"]]},{"id":"85a2929.a9ae27","type":"join","z":"e126ee38.4ad39","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1030,"y":180,"wires":[["5c0178ad.03d388","a281acdc.72b0d"]]},{"id":"411df7f9.04da68","type":"mongodb2 in","z":"e126ee38.4ad39","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":770,"y":120,"wires":[["8d7f52b6.22488"]]},{"id":"8d7f52b6.22488","type":"function","z":"e126ee38.4ad39","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\"resultCode\" : \"0000\", \"resultMessage\" : \"정상처리 되었습니다\"};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":120,"wires":[["5fe06127.a5649","a281acdc.72b0d"]]},{"id":"5fe06127.a5649","type":"http response","z":"e126ee38.4ad39","name":"","statusCode":"","headers":{},"x":1030,"y":120,"wires":[]},{"id":"b6165826.af99d8","type":"function","z":"e126ee38.4ad39","name":"update NoticeData","func":"var newMsg = {};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'NoticeData';\nnewMsg.operation = 'updateMany';\n\nnewMsg.payload = [{'noticeId': msg.payload.noticeId}, \n            {$set: {\n                'type': msg.payload.type,\n                'noticeTitle': msg.payload.noticeTitle,\n                'noticeContent': msg.payload.noticeContent,\n                'noticeDate': msg.payload.noticeDate\n            }}];\n\nreturn newMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":120,"wires":[["411df7f9.04da68"]]},{"id":"d4c184.bdd36e8","type":"function","z":"e7d3ce9f.5f1bd","name":"findOne PriceData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nflow.set('productData', msg.payload);\n\nnewMsg.collection = 'PriceData';\nnewMsg.operation = 'findOne';\n\nnewMsg.payload = {\n    'id': 'price'\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":60,"wires":[["22d3cef5.d5b432"]]},{"id":"22d3cef5.d5b432","type":"mongodb2 in","z":"e7d3ce9f.5f1bd","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":1450,"y":60,"wires":[["f3fdc5c1.810748"]]},{"id":"61be3906.8b6d98","type":"inject","z":"5f7ffc1d.d89a64","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":540,"wires":[["5a4b94cc.f2fdbc"]]},{"id":"5a4b94cc.f2fdbc","type":"function","z":"5f7ffc1d.d89a64","name":"","func":"var newMsg = {};\n\nnewMsg.CERTKEY = \"71573BD2-8100-47B8-A71B-B252722D9C10\";\nnewMsg.CorpNum = \"8778600364\";\nnewMsg.SenderID = \"sinho2016\";\nnewMsg.FileName = \"test\";\nnewMsg.FromNumber = \"010-3713-4282\";\nnewMsg.ToNumber = \"02-459-1268\";\nnewMsg.ReceiveCorp = \"sinho\";\nnewMsg.ReceiveName = \"방민우\";\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":540,"wires":[["784e7a87.ff46c4","bd10a27c.8627e"]]},{"id":"784e7a87.ff46c4","type":"http request","z":"5f7ffc1d.d89a64","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://testws.baroservice.com/FAX.asmx","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":540,"wires":[["df7a4bfb.1fef08"]]},{"id":"df7a4bfb.1fef08","type":"debug","z":"5f7ffc1d.d89a64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":540,"wires":[]},{"id":"bd10a27c.8627e","type":"debug","z":"5f7ffc1d.d89a64","name":"send","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":500,"wires":[]},{"id":"ea050c83.a4ebd","type":"switch","z":"d8849b02.3010c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":80,"wires":[["ba9e7238.317f9"],["3914dc28.f06494"]]},{"id":"ba9e7238.317f9","type":"http response","z":"d8849b02.3010c8","name":"","statusCode":"","headers":{},"x":910,"y":80,"wires":[]},{"id":"6da4899f.ea0af8","type":"debug","z":"6be1e02c.fe042","name":"SET_USER","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":100,"wires":[]},{"id":"48662251.1f75bc","type":"function","z":"d8849b02.3010c8","name":"updateMany UserData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nvar pointData = flow.get('pointData');\nvar resultPoint = Number(pointData.totalPoint) + Number(pointData.chargePoint);\n\nnewMsg.collection = 'UserData';\nnewMsg.operation = 'updateMany';\n\nnewMsg.payload = [\n    {\n        userId: pointData.userId\n    }, \n    {$set: {'point': resultPoint}}];\n \nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1300,"y":140,"wires":[["43372f71.5f0e3"]]},{"id":"43372f71.5f0e3","type":"mongodb2 in","z":"d8849b02.3010c8","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":1470,"y":140,"wires":[["f80bc7d4.104c88"]]},{"id":"83a6632f.d0dd7","type":"http in","z":"46993806.65eeb8","name":"","url":"/appapi/GET_POINT_MOBILE/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":230,"y":480,"wires":[["c6a773b2.925e2","a13ae6b2.fe5c38"]]},{"id":"a9a47404.3be218","type":"mongodb2 in","z":"46993806.65eeb8","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":1650,"y":480,"wires":[["f17c1e1d.f191e"]]},{"id":"9e0af545.198328","type":"function","z":"46993806.65eeb8","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nvar iamportData = flow.get('iamportData');\nvar resultPoint = flow.get('resultPoint');\n\nnewMsg.payload = {\n    \"resultCode\" : \"0000\",\n    \"resultMessage\" : \"정상 처리되었습니다.\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2120,"y":480,"wires":[["d2e01184.78024","a46c812c.d23e2"]]},{"id":"aa036733.d52dd8","type":"function","z":"46993806.65eeb8","name":"updateMany PointData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nvar iamportData = flow.get('iamportData');\nvar userData = msg.payload;\nflow.set('mibleUserData', userData);\n\nvar resultPoint = 0;\n// 결제대기, 취소, 실패 시\nif (iamportData.status == 'ready' || iamportData.status == 'cancelled' || iamportData.status == 'failed') {\n    resultPoint = Number(userData.point);\n} \n// 결제 성공 시\nelse if (iamportData.status == 'paid') {\n    flag = 'Y';\n    resultPoint = Number(userData.point) + Number(iamportData.amount);\n}\nnewMsg.collection = 'PointData';\nnewMsg.operation = 'updateMany';\n\nnewMsg.payload = [\n    {\n        merchant_uid: iamportData.merchant_uid\n    },\n    {\n        $set: {\n            imp_uid: iamportData.imp_uid,\n            vbank_num: iamportData.vbank_num,\n            vbank_name: iamportData.vbank_name,\n            vbank_holder: iamportData.vbank_holder,\n            vbank_date: iamportData.vbank_date,\n            status: iamportData.status,\n            receipt: iamportData.receipt_url,\n            flag: 'Y',\n            totalPoint: resultPoint\n        }\n    }\n];\n\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1480,"y":480,"wires":[["a9a47404.3be218"]]},{"id":"f17c1e1d.f191e","type":"function","z":"46993806.65eeb8","name":"updateMany UserData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nvar userData = flow.get('mibleUserData');\nvar iamportData = flow.get('iamportData');\n\nvar resultPoint = 0;\n// 결제대기, 취소, 실패 시\nif (iamportData.status == 'ready' || iamportData.status == 'cancelled' || iamportData.status == 'failed') {\n    resultPoint = Number(userData.point);\n} \n// 결제 성공 시\nelse if (iamportData.status == 'paid') {\n    resultPoint = Number(userData.point) + Number(iamportData.amount);\n}\n\nflow.set('resultPoint', resultPoint);\n\nnewMsg.collection = 'UserData';\nnewMsg.operation = 'updateMany';\n\nnewMsg.payload = [\n    {\n        userId: userData.userId\n    },{\n        $set: {\n            'point': resultPoint\n        }\n    }\n];\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1820,"y":480,"wires":[["72de26e6.789898"]]},{"id":"72de26e6.789898","type":"mongodb2 in","z":"46993806.65eeb8","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":1990,"y":480,"wires":[["9e0af545.198328"]]},{"id":"c6a773b2.925e2","type":"debug","z":"46993806.65eeb8","name":"SET_POINT_MOBILE","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":440,"wires":[]},{"id":"a46c812c.d23e2","type":"debug","z":"46993806.65eeb8","name":"SET_POINT_MOBILE response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2330,"y":440,"wires":[]},{"id":"d2e01184.78024","type":"http response","z":"46993806.65eeb8","name":"","statusCode":"","headers":{},"x":2250,"y":480,"wires":[]},{"id":"221f181d.d80b58","type":"function","z":"46993806.65eeb8","name":"find payment","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nvar mobileData = flow.get('mobileData');\n\nnewMsg.url = \"https://api.iamport.kr/payments/find/\" + mobileData.merchant_uid;\n\nnewMsg.headers = {\n    Authorization: msg.payload.response.access_token\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":480,"wires":[["17672651.08f0fa"]]},{"id":"17672651.08f0fa","type":"http request","z":"46993806.65eeb8","name":"","method":"GET","ret":"obj","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","x":970,"y":480,"wires":[["ae53519e.f7bb2","296f0513.b392aa"]]},{"id":"fbb31a46.4697d8","type":"http request","z":"46993806.65eeb8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":480,"wires":[["221f181d.d80b58"]]},{"id":"a13ae6b2.fe5c38","type":"function","z":"46993806.65eeb8","name":"get token","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nflow.set('mobileData', msg.payload);\n\nnewMsg.url = \"https://api.iamport.kr/users/getToken\";\n\nnewMsg.payload = {\n    imp_key: \"1420896672223917\",\n    imp_secret: \"zESMCmWMMaNB6phQEw41ugJtnKssbmyL1qxEMtqyDe9KErAiXFksW3WkOoMZLlKMMhryLS7o6h9KIK3G\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":480,"wires":[["fbb31a46.4697d8"]]},{"id":"ae53519e.f7bb2","type":"function","z":"46993806.65eeb8","name":"findOne UserData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nvar mobileData = flow.get('mobileData');\nflow.set('iamportData', msg.payload.response);\n\nnewMsg.collection = 'UserData';\nnewMsg.operation = 'findOne';\n\nnewMsg.payload = {userId: mobileData.userId};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":480,"wires":[["4a44e4a0.96d60c"]]},{"id":"4a44e4a0.96d60c","type":"mongodb2 in","z":"46993806.65eeb8","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":1310,"y":480,"wires":[["aa036733.d52dd8"]]},{"id":"e54c503b.9ada5","type":"inject","z":"46993806.65eeb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":620,"wires":[["c7d48319.726da","78d0d0b1.c33c8"]]},{"id":"c7d48319.726da","type":"function","z":"46993806.65eeb8","name":"","func":"var time = 1629884760000;\nmsg.payload = new Date(1629884760000);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":620,"wires":[["7661b2a4.198d8c"]]},{"id":"296f0513.b392aa","type":"debug","z":"46993806.65eeb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":440,"wires":[]},{"id":"7661b2a4.198d8c","type":"debug","z":"46993806.65eeb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":557,"y":632,"wires":[]},{"id":"78d0d0b1.c33c8","type":"debug","z":"46993806.65eeb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":560,"wires":[]},{"id":"3b11ebe8.f6e8c4","type":"inject","z":"40cc9738.d25d28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":110,"y":120,"wires":[["a3fcba4.bb2bd48"]]},{"id":"c24cb0bf.22887","type":"template","z":"40cc9738.d25d28","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html lang=\"ko\">\n    <head>\n        <meta charset='utf-8'/>\n    </head>\n    <body style='background:#e0e0e0;margin:0;font-family:var(--bs-font-sans-serif);box-sizing: border-box;'>\n    <section style='width:148mm;height:209mm;padding: 10mm;background:white;margin:5mm auto;text-align:center;overflow:hidden;box-sizing:border-box;box-shadow: 0 0.5mm 2mm rgb(0 0 0 / 30%);'>\n        <div style='width:300px;margin:0 auto;text-align:center;font-weight:bold;box-sizing:border-box;'>\n            <h2 style='display:inline-block;line-height:1.2;text-decoration:underline;font-size:24px;margin-top:0;margin-bottom:.5rem;'>● 인 수 증 ●</h2>\n        </div>\n        <div style='text-align:right;line-height:10px;font-weight:bold;box-sizing: border-box;'>\n            <h3 style='font-size:calc(1.3rem + .6vw);margin-top:0;margin-bottom:.5rem;line-height:1.2;'>신 호</h3>\n            <p style='margin-top:0;margin-bottom:1rem;'>서초구 내곡동 1-828</p>\n            <p style='margin-top:0;margin-bottom:1rem;'>TEL: 02-459-1260</p>\n            <p style='margin-top:0;margin-bottom:1rem;'>FAX: 02-459-1268</p>\n        </div>\n        <p style='text-align:left;font-size:20px;font-weight:bold;margin-top:0;margin-bottom:1rem;'>배달시간: {{payload.date}} {{payload.shipDate}} 까지</p>\n        <table style='width:100%;text-align:center;border:1px solid #000;font-weight:bold;border-collapse:collapse;'>\n            <colgroup>\n                <col width=\"20%\">\n                <col width=\"30%\">\n                <col width=\"20%\">\n                <col width=\"30%\">\n            </colgroup>\n            <tbody>\n                <tr style='border:1px solid #000;height:30px;'>\n                    <th>품명</th>\n                    <td style='border:1px solid #000;height:30px;'>{{payload.shipProduct}}</td>\n                    <th>비고</th>\n                    <td style='border:1px solid #000;height:30px;'></td>\n                </tr>\n                <tr style='height:190px;border:1px solid #000;'>\n                    <th>리본문구<br>(카드내용)</th>\n                    <td colspan=\"3\" style='border:1px solid #000;height:30px;'>{{payload.shipMemo}}</td>\n                </tr>\n                <tr style='height:190px;border:1px solid #000;'>\n                    <th>배달장소<br>(전화번호)</th>\n                    <td colspan=\"3\"style='border:1px solid #000;height:30px;'>{{payload.shipAddress}}</td>\n                </tr>\n                <tr style='height:30px;border:1px solid #000;'>\n                    <th>인수인</th>\n                    <td style='height:30px;border:1px solid #000;'></td>\n                    <th>도착시간</th>\n                    <td style='height:30px;border:1px solid #000;'></td>\n                </tr>\n            </tbody>\n        </table>\n        <h3 style='font-weight:bold;font-size:24px;margin-top:0;margin-bottom:.5rem;line-height:1.2;'>\n            배송후인수자 연락처 {{payload.shipOrderCompanyTel}}\n        </h3>\n        <h3 style='font-weight:bold;font-size:24px;margin-top:0;margin-bottom:.5rem;line-height:1.2;'>◀ 기사님은 배송후 연락주세요 ▶</h3>\n    </section>  \n</body>\n</html>","output":"str","x":380,"y":120,"wires":[["ee58a549.21f508"]]},{"id":"a3fcba4.bb2bd48","type":"function","z":"40cc9738.d25d28","name":"setData","func":"var newMsg = {};\n\nvar date = \"2021-08-24\";\nvar resultDate = date.split(\"-\")[0] + \" 년\" + date.split(\"-\")[1] + \" 월\" + date.split(\"-\")[2] + \" 일\";\nvar shipDate = \"누락건 최대한 빨리 // 2시전\";\n\nnewMsg.payload = {\n    date: resultDate,\n    shipDate: shipDate,\n    shipProduct: \"관엽2개\",\n    shipAddress: \"서울 노원구 동일로 1414 // 받는사람 고정민 롯데백화점 노원점 6층 잭니클라우스 매장 010 7143 2280\",\n    shipMemo: \"마크앤노나 강연희 문구 ㅡ건물주되는 그날까지! 넌 잘될거야!\",\n    shipOrderCompanyTel: \"\"\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":120,"wires":[["c24cb0bf.22887"]]},{"id":"ee58a549.21f508","type":"function","z":"40cc9738.d25d28","name":"sendFtp","func":"var newMsg = {};\n\nnewMsg.filename = '/var/www/html/doc/receipt/' + 'P1234567898' + \".html\";\nnewMsg.payload = msg.payload;\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":120,"wires":[["f46c8e0.c42b07"]]},{"id":"b3c229d0.4e9f68","type":"ftp in","z":"40cc9738.d25d28","ftp":"2a06a17f.37c4ee","operation":"put","filename":"","localFilename":"","name":"barobill","x":920,"y":120,"wires":[["4cb4028e.804d4c"]]},{"id":"4cb4028e.804d4c","type":"debug","z":"40cc9738.d25d28","name":"","active":true,"console":"false","complete":"payload","x":1070,"y":120,"wires":[]},{"id":"f46c8e0.c42b07","type":"file","z":"40cc9738.d25d28","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":650,"y":120,"wires":[["2cf048ac.cd10a8"]]},{"id":"2cf048ac.cd10a8","type":"function","z":"40cc9738.d25d28","name":"sendFtp","func":"var newMsg = {};\n\nnewMsg.filename = '/' + 'P1234567898' + '.html';\nnewMsg.localFilename = '/var/www/html/doc/receipt/' + 'P1234567898' + '.html';\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":120,"wires":[["b3c229d0.4e9f68"]]},{"id":"cfd9121.f1208f","type":"soap request","z":"40cc9738.d25d28","name":"barobill","topic":"","wsdl":"2634a5cb.f4211a","method":"SendFaxFromFTP","x":680,"y":260,"wires":[["fa85c45e.4e1748"]]},{"id":"fa85c45e.4e1748","type":"debug","z":"40cc9738.d25d28","name":"","active":true,"console":"false","complete":"payload","x":830,"y":260,"wires":[]},{"id":"c2588868.7ef398","type":"function","z":"40cc9738.d25d28","name":"sendFax","func":"var newMsg = {};\n\nvar barobillURI = 'http://testws.baroservice.com/FAX.asmx?WSDL';\nvar functionName = 'SendFaxFromFTP';\nvar getFileName = \"P1234567898.html\";\n\nvar certKey = '71573BD2-8100-47B8-A71B-B252722D9C10'; // CERTKEY 바로빌 연동 인증키\nvar corpNum = '8778600364';                           // CorpNum 바로빌 회원사 사업자번호\nvar senderId = 'sinho2016';                           // SenderID 바로빌 회원사 담당자 아이디\nvar fileName = getFileName;                           // FileName FTP에 업로드 한 파일명\nvar fromNumber = '02-459-1268';                     // FromNumber 발신번호\nvar toNumber = '02-459-1268';                         // ToNumber 수신번호\nvar receiveCorp = '신호주식회사';                     // ReceiveCorp 수신자 회사명\nvar receiveName = '담당자';                           // ReceiveName 수신자명\nvar sendDt = ''                                       // SendDT 전송일시, yyyyMMddHHmmss 형식\n                                                      // '빈 문자열' 입력 시 즉시 전송\n                                                      // 미래일자로 입력하는 경우 예약전송\nvar refKey = getFileName                              // RefKey 연동사부여 전송키\n\nnewMsg.payload = {\n    CERTKEY: certKey,\n    CorpNum: corpNum,\n    SenderID: senderId,\n    FileName: fileName,\n    FromNumber: fromNumber,\n    ToNumber: toNumber,\n    ReceiveCorp: receiveCorp,\n    ReceiveName: receiveName,\n    SendDT: sendDt,\n    RefKey: refKey\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":260,"wires":[["cfd9121.f1208f"]]},{"id":"b1c99f8f.4a038","type":"inject","z":"40cc9738.d25d28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":410,"y":260,"wires":[["c2588868.7ef398"]]},{"id":"e1ad3508.396fb8","type":"http in","z":"d14801f1.87cd3","name":"","url":"/appapi/FIND_ID/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":190,"y":160,"wires":[["1cd37fe0.0762a","12ec2866.185828"]]},{"id":"12ec2866.185828","type":"function","z":"d14801f1.87cd3","name":"findOne UserData","func":"var newMsg={};\n\nflow.set('req', msg.req);\nflow.set('res', msg.res);\n\nnewMsg.collection = 'UserData';\nnewMsg.operation = 'findOne';\n\nnewMsg.payload = {\n    userEmail: msg.payload.userEmail,\n    companyName: msg.payload.companyName\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":160,"wires":[["6c172ec4.e4e59"]]},{"id":"1cd37fe0.0762a","type":"debug","z":"d14801f1.87cd3","name":"FIND_ID","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":120,"wires":[]},{"id":"6c172ec4.e4e59","type":"mongodb2 in","z":"d14801f1.87cd3","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":610,"y":160,"wires":[["5f0475cd.1a472c"]]},{"id":"dd7ab15b.a035c","type":"function","z":"d14801f1.87cd3","name":"null","func":"var newMsg={};\nnewMsg.req = flow.get('req');\nnewMsg.res = flow.get('res');\n\nnewMsg.payload = {\n    resultCode: \"0104\",\n    resultMessage: \"입력하신 정보로 가입된 회원정보가 존재하지 않습니다.\\n회원으로 가입하시겠습니까?\"\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":140,"wires":[["76642efb.83717","d66270ce.490d3"]]},{"id":"d66270ce.490d3","type":"http response","z":"d14801f1.87cd3","name":"","statusCode":"","headers":{},"x":970,"y":140,"wires":[]},{"id":"76642efb.83717","type":"debug","z":"d14801f1.87cd3","name":"FIND_ID response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1410,"y":160,"wires":[]},{"id":"96f61c6e.492e6","type":"http in","z":"d14801f1.87cd3","name":"","url":"/appapi/FIND_PW/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":190,"y":320,"wires":[["8c426ef3.41dbb","4e74c6ed.d52b38"]]},{"id":"8c426ef3.41dbb","type":"debug","z":"d14801f1.87cd3","name":"FIND_PW","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":280,"wires":[]},{"id":"5f0475cd.1a472c","type":"switch","z":"d14801f1.87cd3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":160,"wires":[["dd7ab15b.a035c"],["1d938757.7691a9"]]},{"id":"29f5202.9c665e","type":"function","z":"d14801f1.87cd3","name":"not null","func":"var newMsg={};\nnewMsg.req = flow.get('req');\nnewMsg.res = flow.get('res');\n\nvar userData = flow.get('userData');\nvar message = \"회원님의 Email주소[\" + userData.userEmail + \"]로\\n아이디를 발송하였습니다.\\n확인하시고 로그인하시기 바랍니다.\";\n\nnewMsg.payload = {\n    resultCode: \"0000\",\n    resultMessage: message\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1240,"y":200,"wires":[["ea5c8882.0ae9e8","76642efb.83717"]]},{"id":"ea5c8882.0ae9e8","type":"http response","z":"d14801f1.87cd3","name":"","statusCode":"","headers":{},"x":1370,"y":200,"wires":[]},{"id":"506f6e60.488a8","type":"e-mail","z":"d14801f1.87cd3","server":"smtp.naver.com","port":"465","secure":true,"tls":false,"name":"","dname":"","x":1230,"y":240,"wires":[]},{"id":"1d938757.7691a9","type":"function","z":"d14801f1.87cd3","name":"data","func":"var newMsg={};\n\nflow.set('userData', msg.payload);\n\nvar time = new Date(new Date().getTime() + 9 * 1000 * 60 * 60).toISOString();\nvar year = time.split('T')[0].split('-')[0];\nvar month = time.split('T')[0].split('-')[1];\nvar day = time.split('T')[0].split('-')[2];\nvar hour = time.split('T')[1].split(':')[0];\nvar minutes = time.split('T')[1].split(':')[1];\n\nnewMsg.payload = {\n    year: year,\n    month: month,\n    day: day,\n    hour: hour,\n    minutes: minutes,\n    userId: msg.payload.userId,\n    companyName: msg.payload.companyName\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":200,"wires":[["1d43c49f.16970b"]]},{"id":"1d43c49f.16970b","type":"template","z":"d14801f1.87cd3","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<center style=\"font: 12px/18px Malgun Gothic, 맑은 고딕, NanumGothic, 나눔고딕, Dotum, 돋움, Gulim, 굴림, Roboto, Arial, Trebuchet MS;; color: rgb(0, 0, 0); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px;white-space: normal; widows: 1; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;\">\n\t<h1 style=\"margin: 0px; padding: 30px 0 0 0;\">\n\t    <img style=\"border: 0px currentColor; border-image: none;\" alt=\"농업회사법인신호(주)\" src=\"https://www.sinho2016.com/img/login_logo.png\" border=\"0\" loading=\"lazy\">\n    </h1>\n\t<table width=\"710\" style=\"margin: 30px 0 0 0; padding: 0px; border-top-color: rgb(128, 130, 129); border-top-width: 2px; border-top-style: solid;\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n\t\t<tbody>\n\t\t    <tr>\n\t\t        <td style=\"margin: 0px; padding-top: 8px;  line-height: 1.5; font-size: 12px;text-align:right;letter-spacing:-1px;\">\n\t\t            본 메일은 {{payload.year}}년 {{payload.month}}월 {{payload.day}}일 {{payload.hour}}시 {{payload.minutes}}분 기준으로 작성되었습니다.\n\t\t        </td>\n\t        </tr>\n\t        <tr>\n\t            <td height=\"30\" style=\"margin: 0px; padding: 0px; line-height: 1.5; font-size: 12px;\"></td>\n\t        </tr>\n\t        <tr>\n\t            <td style=\"margin: 0px; padding: 0px; line-height: 1.5; font-size:  12px; \">\n\t\t\t        <table width=\"710\" style=\"margin: 0px; padding: 40px;background-color: rgb(244, 244, 244);\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n\t\t\t            <tbody>\n\t\t\t                <tr>\n\t\t\t                    <td style=\"margin: 0px; padding:0px; line-height: 1.3; font-size: 36px; color:#424b55;letter-spacing:-5px;\">\n\t\t\t                        <b>아이디 찾기</b><br>\n\t\t\t                        {{payload.companyName}}님, 아이디를 알려드립니다.\n\t\t                        </td>\n\t                        </tr>\n                        </tbody>\n                    </table>\n                </td>\n            </tr>\n            <tr>\n                <td style=\"margin: 0px; padding: 30px 0 30px 0;\">\n\t\t\t        <table width=\"710\" style=\"margin: 0px; padding: 0px;\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n    \t\t\t        <tbody>\n    \t\t\t            <tr>\n    \t\t\t                <th align=\"left\" colspan=\"1\" rowspan=\"1\" scope=\"row\" valign=\"middle\" width=\"142\" style=\"margin: 0px; padding: 10px 0px; color: rgb(101, 111, 116); font-size: 15px; font-weight: normal; border-top-color: rgb(150, 166, 179); border-top-width: 1px; border-top-style: solid;border-bottom-color: rgb(220, 221, 226);border-bottom-width: 1px;border-bottom-style: solid;text-align:center;letter-spacing:-1px;\">아이디</th>\n    \t\t\t                <td align=\"left\" style=\"margin: 0px; padding: 10px 0px; color: rgb(101, 111, 116); font-size: 15px; font-weight: normal; border-top-color: rgb(150, 166, 179); border-top-width: 1px;  border-top-style: solid;border-bottom-color: rgb(220, 221, 226);border-bottom-width: 1px;border-bottom-style: solid;\">{{payload.userId}}</td>\n    \t\t                </tr>\n    \t                </tbody>\n\t\t\t        </table>\n\t\t        </td>\n\t        </tr>\n\t        <tr>\n\t            <td style=\"margin: 0px; padding: 10px 0 0 0; border-top-color: rgb(128, 130, 129); border-top-width:  2px; border-top-style: solid; line-height: 1.3; font-size: 13px; text-align:left; letter-spacing:-1px;\">\n\t\t        </td>\n\t        </tr>\n\t        <tr>\n\t            <td style=\"margin: 0px; padding: 40px 0 0 0; \">\n\t\t\t        <table width=\"710\" style=\"margin: 0px; padding: 0px;\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n\t\t            \t<tbody>\n\t\t            \t    <tr>\n\t\t            \t        <td valign=\"\" style=\"width:150px;\"><img style=\"border: 0px currentColor; border-image: none; width:122px;\" alt=\"신호주식회사\" src=\"https://www.sinho2016.com/img/login_logo.png\" border=\"0\" valign=\"center\" loading=\"lazy\">\n\t\t            \t        </td>\n\t\t            \t        <td valign=\"top\" style=\"line-height: 1.3; font-size: 12px; text-align:left;\">\n                        \t\t\t서울시 서초구 헌인릉1길 42(내곡동) / TEL : 02-459-1260 / FAX : 02-459-1268<br>\n                        \t\t\t농업회사법인 신호 주식회사 / 사업자번호 : 8778600364, 통신판매번호 2021-서울서초-1453호<br>\n\t\t\t                        문의메일 : sinho2016@naver.com / 홈페이지 : <a href=\"https://www.sinho2016.com\" target=\"_blank\" rel=\"noreferrer noopener\">https://www.sinho2016.com</a>\n\t\t\t                    </td>\n\t\t                    </tr>\n\t                    </tbody>\n\t\t        \t</table>\n\t\t        </td>\n\t        </tr>\n        </tbody>\n    </table>\n</center>","output":"str","x":980,"y":200,"wires":[["c2a6d9e7.5aecc8"]]},{"id":"c2a6d9e7.5aecc8","type":"function","z":"d14801f1.87cd3","name":"topic","func":"var newMsg={};\nvar userData = flow.get('userData');\n\nnewMsg = {\n    to: userData.userEmail,\n    topic: \"[신호플라워] 아이디 찾기\",\n    payload: msg.payload\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":200,"wires":[["506f6e60.488a8","29f5202.9c665e"]]},{"id":"4e74c6ed.d52b38","type":"function","z":"d14801f1.87cd3","name":"findOne UserData","func":"var newMsg={};\n\nflow.set('req', msg.req);\nflow.set('res', msg.res);\n\nnewMsg.collection = 'UserData';\nnewMsg.operation = 'findOne';\n\nnewMsg.payload = {\n    userId: msg.payload.userId,\n    userEmail: msg.payload.userEmail,\n    companyName: msg.payload.companyName\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":320,"wires":[["408a9116.7baa1"]]},{"id":"408a9116.7baa1","type":"mongodb2 in","z":"d14801f1.87cd3","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":610,"y":320,"wires":[["8eb8ad00.ff427"]]},{"id":"8eb8ad00.ff427","type":"switch","z":"d14801f1.87cd3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":320,"wires":[["9de1e2a8.09913"],["60c6d7e4.eaae68"]]},{"id":"9de1e2a8.09913","type":"function","z":"d14801f1.87cd3","name":"null","func":"var newMsg={};\nnewMsg.req = flow.get('req');\nnewMsg.res = flow.get('res');\n\nnewMsg.payload = {\n    resultCode: \"0105\",\n    resultMessage: \"입력하신 정보로 가입된 회원정보가 존재하지 않습니다.\"\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":300,"wires":[["bee1f55b.b284e8","8b6b297.b6f69d8"]]},{"id":"bee1f55b.b284e8","type":"http response","z":"d14801f1.87cd3","name":"","statusCode":"","headers":{},"x":970,"y":300,"wires":[]},{"id":"4d6366dd.795da8","type":"function","z":"d14801f1.87cd3","name":"data","func":"var newMsg={};\nvar userData = flow.get('userData');\nvar pwToken = flow.get('pwToken');\n\nvar time = new Date(new Date().getTime() + 9 * 1000 * 60 * 60).toISOString();\nvar year = time.split('T')[0].split('-')[0];\nvar month = time.split('T')[0].split('-')[1];\nvar day = time.split('T')[0].split('-')[2];\nvar hour = time.split('T')[1].split(':')[0];\nvar minutes = time.split('T')[1].split(':')[1];\nvar url = \"https://www.sinho2016.com/pw_change.html?pwToken=\" + pwToken;\n\nnewMsg.payload = {\n    year: year,\n    month: month,\n    day: day,\n    hour: hour,\n    minutes: minutes,\n    url: url\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":340,"wires":[["fbdc8010.c0f8"]]},{"id":"fbdc8010.c0f8","type":"template","z":"d14801f1.87cd3","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<center style=\"font: 12px/18px Malgun Gothic, 맑은 고딕, NanumGothic, 나눔고딕, Dotum, 돋움, Gulim, 굴림, Roboto, Arial, Trebuchet MS;; color: rgb(0, 0, 0); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px;white-space: normal; widows: 1; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;\">\n\t<h1 style=\"margin: 0px; padding: 30px 0 0 0;\">\n\t    <img style=\"border: 0px currentColor; border-image: none;\" alt=\"농업회사법인신호(주)\" src=\"https://www.sinho2016.com/img/login_logo.png\" border=\"0\" loading=\"lazy\">\n    </h1>\n\t<table width=\"710\" style=\"margin: 30px 0 0 0; padding: 0px; border-top-color: rgb(128, 130, 129); border-top-width: 2px; border-top-style: solid;\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n\t\t<tbody>\n\t\t    <tr>\n\t\t        <td style=\"margin: 0px; padding-top: 8px;  line-height: 1.5; font-size: 12px;text-align:right;letter-spacing:-1px;\">\n\t\t            본 메일은 {{payload.year}}년 {{payload.month}}월 {{payload.day}}일 {{payload.hour}}시 {{payload.minutes}}분 기준으로 작성되었습니다.\n\t\t        </td>\n\t        </tr>\n\t        <tr>\n\t            <td style=\"margin: 0px; padding: 0 0 40px 0; text-align:center;\">\n\t\t\t        <a href=\"{{payload.url}}\" target=\"_blank\" style=\"display:inline-block; :100px; :40px; line-:40px; text-align:center; background-color:gray; color:#fff; font-weight:bold; margin-top:20px;\" rel=\"noreferrer noopener\">비밀번호 변경</a>\n\t\t        </td>\n\t        </tr>\n\t        <tr>\n\t            <td style=\"margin: 0px; padding: 10px 0 0 0; border-top-color: rgb(128, 130, 129); border-top-width:  2px; border-top-style: solid; line-height: 1.3; font-size: 13px; text-align:left; letter-spacing:-1px;\">\n\t\t        </td>\n\t        </tr>\n\t        <tr>\n\t            <td style=\"margin: 0px; padding: 40px 0 0 0; \">\n\t\t\t        <table width=\"710\" style=\"margin: 0px; padding: 0px;\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n\t\t            \t<tbody>\n\t\t            \t    <tr>\n\t\t            \t        <td valign=\"\" style=\"width:150px;\"><img style=\"border: 0px currentColor; border-image: none; width:122px;\" alt=\"신호주식회사\" src=\"https://www.sinho2016.com/img/login_logo.png\" border=\"0\" valign=\"center\" loading=\"lazy\">\n\t\t            \t        </td>\n\t\t            \t        <td valign=\"top\" style=\"line-height: 1.3; font-size: 12px; text-align:left;\">\n                        \t\t\t서울시 서초구 헌인릉1길 42(내곡동) / TEL : 02-459-1260 / FAX : 02-459-1268<br>\n                        \t\t\t농업회사법인 신호 주식회사 / 사업자번호 : 8778600364, 통신판매번호 2021-서울서초-1453호<br>\n\t\t\t                        문의메일 : sinho2016@naver.com / 홈페이지 : <a href=\"https://www.sinho2016.com\" target=\"_blank\" rel=\"noreferrer noopener\">https://www.sinho2016.com</a>\n\t\t\t                    </td>\n\t\t                    </tr>\n\t                    </tbody>\n\t\t        \t</table>\n\t\t        </td>\n\t        </tr>\n        </tbody>\n    </table>\n</center>","output":"str","x":1260,"y":340,"wires":[["ae274c31.83bbe"]]},{"id":"ae274c31.83bbe","type":"function","z":"d14801f1.87cd3","name":"topic","func":"var newMsg={};\nvar userData = flow.get('userData');\n\nnewMsg = {\n    to: userData.userEmail,\n    topic: \"[신호플라워] 비밀번호 찾기\",\n    payload: msg.payload\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1390,"y":340,"wires":[["42b6d97a.147028","ff42a955.735c98"]]},{"id":"ff42a955.735c98","type":"function","z":"d14801f1.87cd3","name":"not null","func":"var newMsg={};\nnewMsg.req = flow.get('req');\nnewMsg.res = flow.get('res');\n\nvar userData = flow.get('userData');\nvar message = \"회원님의 Email주소[\" + userData.userEmail + \"]로\\n인증메일을 발송하였습니다.\\n확인하시고 비밀번호를 변경해주시기 바랍니다.\";\n\nnewMsg.payload = {\n    resultCode: \"0000\",\n    resultMessage: message\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1520,"y":340,"wires":[["15f9ca1.7342f36","8b6b297.b6f69d8"]]},{"id":"15f9ca1.7342f36","type":"http response","z":"d14801f1.87cd3","name":"","statusCode":"","headers":{},"x":1650,"y":340,"wires":[]},{"id":"42b6d97a.147028","type":"e-mail","z":"d14801f1.87cd3","server":"smtp.naver.com","port":"465","secure":true,"tls":false,"name":"","dname":"","x":1510,"y":380,"wires":[]},{"id":"8b6b297.b6f69d8","type":"debug","z":"d14801f1.87cd3","name":"FIND_PW response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1700,"y":300,"wires":[]},{"id":"60c6d7e4.eaae68","type":"function","z":"d14801f1.87cd3","name":"token update","func":"var newMsg = {};\nvar chars = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz';\nvar stringLength = 12;\nvar randomString = '';\nflow.set('userData', msg.payload);\n\nfor (var i = 0; i < stringLength; i ++) {\n  var rnum = Math.floor(Math.random() * chars.length);\n  randomString += chars.substring(rnum, rnum + 1);\n}\n\nflow.set('pwToken', randomString)\nnewMsg = {\n    collection: 'UserData',\n    operation: 'updateMany',\n    payload:[\n                {\n                    userId: msg.payload.userId\n                },\n                {\n                    $set: {\n                        pwToken: randomString,\n                        pwTime: new Date()\n                    }\n                }\n            ]\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":340,"wires":[["66b3b19e.79e7"]]},{"id":"66b3b19e.79e7","type":"mongodb2 in","z":"d14801f1.87cd3","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":1010,"y":340,"wires":[["4d6366dd.795da8"]]},{"id":"60cfb69e.d3c288","type":"http in","z":"eccff6d6.1a4328","name":"","url":"/appapi/GET_TOKEN/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":210,"y":40,"wires":[["c908ed3a.77227","b5b1da7a.629278"]]},{"id":"c908ed3a.77227","type":"function","z":"eccff6d6.1a4328","name":"findOne UserData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'UserData';\nnewMsg.operation = 'findOne';\n\nnewMsg.payload = {\n    pwToken: msg.payload.pwToken\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":40,"wires":[["2cdb1c6.2da9ae4"]]},{"id":"2cdb1c6.2da9ae4","type":"mongodb2 in","z":"eccff6d6.1a4328","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":650,"y":40,"wires":[["db6dac59.3cb7e"]]},{"id":"d47b9fcd.cf234","type":"function","z":"eccff6d6.1a4328","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\n    resultCode: \"0106\",\n    resultMessage: \"시간이 초가됐습니다. 다시 시도해주세요.\"\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":40,"wires":[["5cc623d0.b8324c","4dd5a749.f67f38"]]},{"id":"5cc623d0.b8324c","type":"http response","z":"eccff6d6.1a4328","name":"","statusCode":"","headers":{},"x":1030,"y":40,"wires":[]},{"id":"b5b1da7a.629278","type":"debug","z":"eccff6d6.1a4328","name":"GET_TOKEN","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":80,"wires":[]},{"id":"4dd5a749.f67f38","type":"debug","z":"eccff6d6.1a4328","name":"GET_TOKEN response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":120,"wires":[]},{"id":"db6dac59.3cb7e","type":"switch","z":"eccff6d6.1a4328","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":40,"wires":[["d47b9fcd.cf234"],["4b4afb8b.04e044"]]},{"id":"4b4afb8b.04e044","type":"function","z":"eccff6d6.1a4328","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nvar presentTime = new Date();\nvar tokenTime = msg.payload.pwTime;\nif (presentTime.getTime() > tokenTime.getTime() + 10 * 60 * 1000) {\n    newMsg.payload = {\n        resultCode: \"0106\",\n        resultMessage: \"시간이 초가됐습니다. 다시 시도해주세요.\"\n    }\n} else {\n    newMsg.payload = {\n        resultCode: \"0000\",\n        resultMessage: \"정상처리 되었습니다.\",\n        userId: msg.payload.userId\n    } \n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":80,"wires":[["3848e905.0fb7e6","4dd5a749.f67f38"]]},{"id":"3848e905.0fb7e6","type":"http response","z":"eccff6d6.1a4328","name":"","statusCode":"","headers":{},"x":1030,"y":80,"wires":[]},{"id":"de57999e.6248d8","type":"http in","z":"eccff6d6.1a4328","name":"","url":"/appapi/SET_TOKEN/appRequest.do","method":"post","upload":false,"swaggerDoc":"","x":200,"y":200,"wires":[["ba0950ea.7f93","690ed21b.3743fc"]]},{"id":"ba0950ea.7f93","type":"function","z":"eccff6d6.1a4328","name":"updateMany UserData","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.collection = 'UserData';\nnewMsg.operation = 'updateMany';\n\nnewMsg.payload = [\n    {\n        userId: msg.payload.userId,\n        pwToken: msg.payload.pwToken\n    }, \n    {\n        $set: {\n            userPw: msg.payload.newPw,\n            pwToken: \"\",\n            pwTime: \"\"\n        }\n    }\n]\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":200,"wires":[["c3c80c21.dc068"]]},{"id":"690ed21b.3743fc","type":"debug","z":"eccff6d6.1a4328","name":"SET_TOKEN","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":240,"wires":[]},{"id":"c3c80c21.dc068","type":"mongodb2 in","z":"eccff6d6.1a4328","service":"_ext_","configNode":"14c527e8.c66c48","name":"","collection":"","operation":"","x":650,"y":200,"wires":[["bf240945.b386d8"]]},{"id":"bf240945.b386d8","type":"function","z":"eccff6d6.1a4328","name":"response","func":"var newMsg={};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\n\nnewMsg.payload = {\n    resultCode: \"0000\",\n    resultMessage: \"정상처리 되었습니다.\"\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":200,"wires":[["d59cf63a.d64958","a0f6b5bf.eb2d28"]]},{"id":"d59cf63a.d64958","type":"http response","z":"eccff6d6.1a4328","name":"","statusCode":"","headers":{},"x":910,"y":200,"wires":[]},{"id":"a0f6b5bf.eb2d28","type":"debug","z":"eccff6d6.1a4328","name":"SET_TOKEN response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":240,"wires":[]}]